[2015-12-02 22:25] #692 closed

[2015-12-02 22:50] stephensearles commented on #693
So here's a theory, but first more context (from IRC):

Old server: A. new server B. B's disk is a hot copy of A's. On A, a while back, we saw a bunch of old messages go out unexpectedly, but that was because it was building up messages from a configuration issue that also unexpectedly got resolved. I saw B send out old messages in the same way, but not nearly as many. I see nsqd on B has open fil

[2015-12-03 02:25] gzliudan opened #694 "How to connect nsq with golang?"
Below is my test code, the problem is:
1. producer can't connect to nsqd port 4151
2. consumer can't connect to nsqd port 4151
3. consumer can't connect o nsqlookupd port 4160
4. how does comsumer connect to nsqd or nsqlookupd TCP port with long term TCP connection?

package main

import (
  "log"
  "sync"
  "github.com/bitly/go-nsq"
)

func main() {
  config := nsq.NewConfig()
  // w, _ := nsq.Ne

[2015-12-03 02:30] jehiah commented on #694
@gzliudan this type of question is better suited to the mailing list http://nsq.io/community.html

Consumers and producers make persistent connections to nsqd port 4150. The nsqd http port (4151) is for administrative actions, and HTTP publishing.

Clients poll nsqlookupd via HTTP port 4161, they do not make persistent connections. nsqd makes persistent TCP connections to nsqlookupd over port 4160

[2015-12-03 02:30] #694 closed

[2015-12-07 21:14] justphil opened #695 "Weird behaviour when publishing / consuming Go structs which contain an int value and have been serialized using encoding/gob"
Hello everybody!

First of all thank you for this very interesting piece of software. :)

I'm about to evaluate nsq for a new project which makes extensive use of golang. And I was curious how nsq performs when publishing / consuming larger Go structs. Therefore I wrote a simple producer app that produces corresponding structs which are serialized by [encoding/gob](https://golang.org/pkg/encoding/

[2015-12-07 21:24] mreiferson commented on #695
@justphil my assumption is that this has to do with the code in your consumer (and Go's gob decoding w/r/t "zero values") and not NSQ.

Specifically, you're reusing the `container` variable from the outer scope.  Does it exhibit this behavior if you create a new `Container` _inside_ the message handler?

[2015-12-08 15:01] justphil commented on #695
Thank you for the hint, @mreiferson!
Putting the `Container` creation into the message handler solves the problem. So in fact this has to do with gob's decoding behavior when dealing with zero values.

False alarm! Issue can be closed. :)

Bye,
Phil

[2015-12-08 15:01] #695 closed

[2015-12-11 16:31] 0x46616c6b commented on #693
Same here. The nsqadmin reports correct depth per nsqd and channel, but the /stats endpoint always reports 0.

[2015-12-12 19:54] mreiferson commented on #693
@0x46616c6b can you provide example output and screenshots?

[2015-12-12 19:55] mreiferson commented on #693
@stephensearles I know we spoke a bit about this on IRC but your theory seems plausible, but I'm not sure what we can do now, after the fact, to confirm.

Do you think there's anything actionable in what you've discovered that's worth leaving this issue open for?

[2015-12-14 18:52] stephensearles commented on #693
I haven't had time to look yet, but I want to poke around nsqd's handling of those data files, and see if there's a reasonable opportunity to even defend against this issue. It'd be expensive to try to reproduce the exact scenario I originally saw this in, but it might be reproducible with some open source virtualization stack. Operationally, we're not doing much about this, because it's an easy e

[2015-12-14 22:26] 0x46616c6b commented on #693
@mreiferson i cannot reproduce it in the actual version (0.3.6). so for me the problem doenst exists anymore.

[2015-12-15 19:58] gtaylor commented on #687
I think I may have been confused in seeing "HTTP 599", which caused me to assume that we were actually getting a 599 from the server. By "server logs", I was looking at the consumer. I can't find the 599s in nslookupd's logs, so it appears that tornado may just be using 599 (which is super weird).

I'll look into this later, but maybe we can adjust the timeout for our nsqlookupd requests somehow.

[2015-12-16 03:53] mreiferson commented on #687
Cool, closing.

[2015-12-16 03:53] #687 closed

[2015-12-22 08:48] slvher opened #696 "nsqd: more 'ESTABLISHED' tcp connection than expected and maybe lead to ERROR "failed to read command ... i/o timeout""
Dear,

I use nsq as message queue about three months ago and the following ERROR occurs more and more recently:
[code]
nsqd is started with the following args:
[code]

At the meaning time, time-out error also exists at the producer side.

Producer is tornado-based web application and [AsyncHTTPClient](http://www.tornadoweb.org/en/stable/httpclient.html) is used when pub item to nsq via HTTP API, r

[2015-12-23 17:50] carlfn opened #697 "nsqd: hitting consumer limit of 30K messages"
We have  a service pumping 200K messages per second onto the queue, but are unable to consume that number.

With one consumer, we pull of 30K messages per second.  When we add a second consumer, they each pull off 18K per second.  The third consumer causes them all to pull off 12K per second, and so forth.  It seems like there is a hard limit to the number of messages you can pull off regardless o

[2015-12-24 01:04] mreiferson commented on #696
There are way too many variables to really debug this for you, specifically how the environment is configured that you're running `nsqd` and these applications in.

I don't _think_ the `I/O timeout` is necessarily related and we don't know of any connection leaks that exist inside `nsqd`.

We have many large scale deployments that utilize Python/Tornado/HTTP to publish messages to `nsqd` with long

[2015-12-24 01:04] #696 closed

[2015-12-24 01:06] mreiferson commented on #697
What is the configuration and topology of this cluster?  How are the `nsqd` configured and run, what version?  What client library are you using to consume the data, can we see that code?  What is the CPU/memory/disk util for the `nsqd` hosts?

[2015-12-25 19:17] slvher opened #698 "[nsqd] Does a 'detect dead peer' mechanism enabled by default in nsqd to handle 'half-open' connections ?"
Dear,

First of all, Merry Christmas ~

I deploy nsqd process and msg producer process on different boxes, and a third-party client is used to pub msg from producer to nsq via http.

Recently, I found there are many 'ESTABLISHED' tcp connections existed on the box where nsqd is deployed on, while those connections did not exist on the producer side at all. These half-open connections seem to would

[2015-12-27 14:02] lootch opened #699 "Tested on Plan 9"
The only alteration was the addition of internal/dirlock/dirlock_plan9.go as a mirror image of dirlock_windows.go (same empty functions) and, of course adding "!plan9" in dirlock.go. Maybe there is an easy way to implement directory locking in Plan 9, but at least it's established that nsq can be used as a Plan 9 application.

[2015-12-28 04:37] lootch commented on #699
It seems that there is a file handle leak, presumably specific to Plan 9, that I now need to identify and fix.

[2015-12-29 17:20] mreiferson commented on #699
@lootch thanks for looking into this! If you're up for it, open any PRs that address the issues you find.

[2015-12-29 17:24] mreiferson commented on #698
Thanks for your question.

As I mentioned in the last issue #696, this is really hard for us to debug for you.  Since it seems like an isolated incident and we haven't seen other wide spread reports of this or similar issues, it seems most likely the result of your particular environment/configuration.  Turning on `SO_KEEPALIVE` would only mask the problem, you need to figure out why `nsqd` isn't

[2015-12-29 17:24] #698 closed

[2015-12-29 20:31] lootch commented on #699
On 12/29/15, Matt Reiferson <notifications@github.com> wrote:

I make no promises, but as I saw nsq as a neat option to handle SMSes
to and from an old-fashioned GSM router I came across, I may well be
able to contribute a little to the project.

I have not made much use of Go's multitasking features yet, this may
become my training ground.

I'm quite impressed with nsq's functionality, which I di

[2015-12-30 11:37] slvher commented on #698
I also think the root cause is from the producer side, maybe the http client we used.
I will try to use tcpdump to trace some connection traffic.

Thank you very much for the reply and the suggestion.
:)

[2015-12-30 19:31] carlfn commented on #697
We had NSQ running on a 32core 60GB ec2 instance with a 10000 iops drive and a 10 gbit ethernet.  We were dumping approximately 250,000 messages/sec on the queue but were only able to read off messages at approximately 30-40K messages/sec from a similar machine as the one above. Adding more readers/machines didn't help. It just slowed all the readers down to a total of 30K messages per second.  St

[2015-12-30 19:36] jehiah commented on #697
@carlfn Can you clarify what client you are using to consume data, and specifically how long per-message processing takes, and how you have max_in_flight configured? Do you see the same results if you use `nsq_tail ... >/dev/null` or `nsq_to_file` ?

If you can share some screenshots of `nsqadmin` showing your channel, and the client connections when you are observing this, that would also be help

[2015-12-30 19:45] carlfn commented on #697
@jehiah Updated my comment above.

Won't be able to do a run again for a bit, but will update you with these details when I can.

[2016-01-02 04:49] mreiferson commented on #697
@carlfn what is the value of `n.numConcurrent`?  You probably want a really high `MaxInFlight` but number of handlers == number of cores on the consumer host.

[2016-01-06 23:16] mreiferson opened #701 "nsqd: reduce client/channel lock contention"
While evaluating a production performance issue I uncovered some
unnecessary lock contention inside the channel and client code
paths.

The ultimate cause of the issue was that we held client-wide,
channel-wide (and ultimately NSQ-wide, see #700) locks during network
operations, and if those operations block it would prevent other
simultaneous, unrelated, operations from making progress.

[2016-01-07 16:51] mreiferson opened #702 "bench: minor updates"
just making sure this thing still works...

[2016-01-08 00:01] mreiferson opened #703 "nsqd: fix stats data race regression"
See https://github.com/nsqio/nsq/commit/bc0a6b91633ea4438d735f751abd044cec24fd96#commitcomment-15327758

[2016-01-15 05:18] harlow opened #708 "nsqd: documentation for dynamic configuration"
A PR was merged to expose a new `/config` endpoint in https://github.com/nsqio/nsq/pull/601.
https://github.com/nsqio/nsq/blob/master/nsqd/http.go#L67

I was wondering if there is any documentation on how to leverage the endpoint in a distributed system?

[2016-01-15 05:23] harlow commented on #708
cc @paddyforan mind sharing how you are using the endpoint?

I'm using Fleet to schedule units on CoreOS cluster. With this setup would I need to run a "sidekick service" alongside `nsqlookupd` that sends PUT requests to all of the `nsqd` services across the cluster each time a new `nsqlookupd` is brought up?

[2016-01-15 05:26] harlow commented on #646
+1 to DNS discovery. This would be great addition.

[2016-01-16 01:33] zhang8h opened #711 "v0.3.2 nsqd： NOTICE: temporary Accept() failure - accept tcp [::]:4160: too many open files"
v0.3.2
NOTICE: temporary Accept() failure - accept tcp [::]:4160: too many open files
Cause cup to reach 100%

[2016-01-16 16:43] mreiferson opened #713 "nsq_to_*: update hasArg to use flag.Visit"
fixes the build in #712

[2016-01-16 16:44] mreiferson commented on #711
@zhang8h you need to update the file descriptor limit for the account you're running `nsqd` under

[2016-01-16 16:44] #711 closed

[2016-01-17 01:21] zhang8h commented on #711
@mreiferson    Which command line option is

[2016-01-17 04:37] ploxiln commented on #711
It's not an option for nsqd - it's an option for the environment it runs in. You can set the open-file-limit of your shell with the (shell-builtin) command `ulimit -n 1024`, and you can see what it currently is with `ulimit -n`. But there's a limit above which it can't go higher (the "hard limit"), unless you have root permissions, or you configure it elsewhere in the operating system.

[2016-01-17 05:41] zhang8h commented on #711
@ploxiln Thank you for your reply.I checked the value of this setting is 65535
This error has prompted the emergence of a few days.Thank you

[2016-01-17 06:06] zhang8h commented on #711
![Uploading aa.png…]()

[2016-01-17 17:06] mreiferson commented on #711
@zhang8h this still isn't something we can really debug for you, look at how many open files `nsqd` has and confirm that it's actually running under those increase limits.

[2016-01-18 04:34] zhang8h commented on #711
Thank you very much for the reply and the suggestion.

[2016-01-19 18:28] mreiferson commented on #708
@harlow I'm not sure of the specifics, but the idea was that this HTTP API allowed for "shim" services to be built that dealt with the specifics of interacting with your dynamic service discovery system and could make state changes to a local `nsqd`, so I think the answer to your question is "yes".

If you've started to work through this and are interested in contributing some formal docs, that wo

[2016-01-20 18:59] harlow commented on #708
@mreiferson thanks for reply. I've got NSQ running in our cluster w/ a sidecar discovery service for `nsqlookupd`

The process:
1. launch nsqlookupd w/ the discovery sidecar
2. nsqlookupd sidecar puts the IP address of the current server into etcd
3. when nsqd launches they register themselves with each of the nsqlookupd IPs from etcd

This works well but suffers from the issue that if an `nsqlook

[2016-01-22 07:10] #708 closed

[2016-01-22 08:07] harlow commented on #646
I've created a "sidecar" app that runs alongside each `nsqd` instance in our cluster. It pings DNS for A records and then pushes the IP addresses to the `/config/nsqlookupd_tcp_addresses` endpoint.

https://github.com/harlow/nsqd-discovery

@mreiferson re: https://github.com/nsqio/nsq/issues/708 I'll get a PR into nsqd docs that explains how to use the new config endpoints. They seem like a decent

[2016-01-22 15:22] mreiferson commented on #646
@harlow this is great, I'll keep an eye out for that PR!

[2016-01-23 08:09] harlow commented on #646
@mreiferson does it make sense to add `/config/nsqlookupd_tcp_addresses` endpoint for `nsqadmin` too?

[2016-01-23 15:13] mreiferson commented on #646
probably :)

[2016-01-23 21:39] harlow opened #714 "nsqadmin: config endpoint similar to nsqd"
re: the new `/config` endpoint in for `nsqd` #601

Wanted to put a note in here before submitting a PR. Are nsq maintainers on board with adding a `/config` endpoint to `nsqadmin` so it can also be dynamically configured via HTTP PUT?

[2016-01-23 21:51] jehiah commented on #714
`nsqd` has specific motivations against restarting it (you don't want to disrupt receiving messages). `nsqadmin` on the other hand is stateless so restarting it doesn't have quite the same concerns.

`nsqd`'s http interface is designed to be on a trusted network; `nsqadmin` again isn't quite the same, and while it does expose administrative actions, changing configuration via the same interface fe

[2016-01-23 21:56] harlow commented on #714
@jehiah thanks for the note -- I think that all makes sense. I'll play around with a script that simply restarts `nsqadmin` if I see a change in `nsqlookupd` addresses.

[2016-01-24 15:48] mreiferson commented on #714
@jehiah makes some good points.  OTOH, it would provide some symmetry for a deployment that might be beneficial.

@harlow let's see how that restart script works out in practice.  Let us know how that goes!

[2016-01-24 17:13] mreiferson commented on #697
@carlfn I've recently confirmed the ["Distributed Performance" benchmarks](http://nsq.io/overview/performance.html#distributed-performance) so, if anything, this is a [`go-nsq`](https://github.com/nsqio/go-nsq) issue.  Notably, those benchmarks _do not_ use a `go-nsq` based consumer by design, which means it can't be something fundamental to `nsqd`.

Let's continue the conversation there if you're

[2016-01-24 17:13] #697 closed

[2016-01-24 17:16] mreiferson commented on #693
Given the operation-specific nature of this issue and the fact that we don't have anything materially actionable, I think closing makes sense.

We can always reference it for context if we think there are related bugs in the future.

Thanks @stephensearles!

[2016-01-24 17:16] #693 closed

[2016-01-24 17:17] mreiferson commented on #658
Going to close this, thanks for the discussion.

Although there might be room for improvement in the way `nsqd` generates IDs, the fundamental problem here seems to be managing time on the host `nsqd` is running on.

[2016-01-24 17:17] #658 closed

[2016-01-24 17:21] mreiferson opened #715 "nsqd: configurable HTTP client transport timeout"
see https://github.com/nsqio/nsq/pull/683#issuecomment-155947122

[2016-01-24 17:26] mreiferson opened #716 "nsq_to_file: malformed gzip data"
`nsq_to_file` can corrupt output files when `gzip` is enabled.

See https://github.com/nsqio/nsq/pull/677

[2016-01-24 23:44] harlow commented on #714
After poking around a little with a restart I'm feeling the same way. With a `/config` endpoint on Admin I could run the same discovery sidecar w/ an Admin URL and it could be configured at runtime the same way i'm doing with nsqd.

[code]
and
[code]

In the short term I can def get the restart to work without a config endpoint, but would be nice if both services could be configured the same way.

[2016-01-28 02:50] zhang8h commented on #711
The problem has been solved, it is supervisor's problem.

[2016-01-28 15:47] mreiferson commented on #714
ping @jehiah :)

[2016-02-23 09:43] smutear opened #719 "*app.StringArray is not flag.Getter: missing method Get"
*app.StringArray is not flag.Getter: missing method Get  when running nsqd and/or nsqadmin

[2016-02-23 14:30] mreiferson commented on #719
Hi, you should be using `gpm` to build the NSQ binaries.

[2016-02-23 14:30] #719 closed

[2016-02-23 21:32] tecbot opened #720 "nsqd: /stats endpoint causes runtime problems"
Hey,

we have a really strange issue in our nsq cluster. If we call the /stats route, it will cause a runtime issue in the nsqd process which will blocks other operations. The end result is that nsqd didn't response to new incoming jobs in a reasonable time so our callers get stuck after some time, consumers can't connect or flicker, also our nsqadmin can't reach the servers anymore because the ca

[2016-02-23 21:49] jehiah commented on #720
@tecbot what version are you running? This sounds like something already resolved by #701 #703 #709

[2016-02-23 21:55] mreiferson commented on #720
we're gonna stamp a release after #718 lands

[2016-02-23 21:55] #720 closed

[2016-02-23 22:01] mreiferson commented on #720
@tecbot definitely, but from what I can tell it's been "broken" for a _really_ long time. I don't want to suggest that it's not an important set of fixes, but I wouldn't go so far as saying it's "critical".

[2016-02-23 22:07] mreiferson commented on #720
fun times! :game_die:

[2016-02-24 00:31] mreiferson opened #721 "dist: add windows/fix flakey test"
n/t

[2016-02-26 02:27] jehiah opened #722 "nsqadmin: fix connected durations >1hr"
I noticed that connected durations longer than 1hr were not displaying correctly in nsqadmin.

cc: @mreiferson

[2016-02-29 01:17] jonathandelanders opened #723 "Support unix domain sockets"
We run nsqd over loopback and I believe performance could improve by using unix domain sockets.   Using tcp/ip for interprocess communication over loopback requires the overhead of tcp/ip where using unix domain sockets do not as it was designed with local interprocess communication in mind.

[2016-02-29 01:22] jehiah commented on #723
@jonathandelanders I admit i don't use unix domain sockets much in my day to day, but there could totally be a value in being able to avoiding the tcp/ip overhead. Are you interested in contributing a PR that adds this feature?

[2016-02-29 01:24] jonathandelanders commented on #723
I am...   I admit however im not season'd in go yet.   I have modified some of our existing code to use uds it isnt very complicated..   Most of it has to do with modifying the Dialers to use the "unix" mode instead of tcp.    I'll ask one of our developers if they are interested first.

[2016-02-29 15:07] mreiferson commented on #723
The real problem is no guaranteed ordering with UDP and the protocol expects packets to come in order. Many things would need to be modified to get this to work and then you've probably written a half-baked implementation of TCP anyway.

Not sure it's worth it, I'm -1.

[2016-02-29 15:17] mreiferson commented on #723
@jehiah pointed out to me offline that I completely misunderstood what you were suggesting here.

Carry on!

[2016-02-29 15:24] jonathandelanders commented on #723
@mreiferson I just cancelled my long winded post on the difference between UDP and UDS :).   Im pretty sure that internal/protocol/tcp_server.go can more or less be re-used here.   However i see several pieces of code elsewhere that will need to be looked at.    This may take some time for us to look at.

[2016-03-07 12:49] IceiceFire opened #724 "nsqd: --tls-required option resolution failure"
[code]

[2016-03-07 17:08] mreiferson commented on #724
@IceiceFire what version of NSQ?

[2016-03-08 05:41] IceiceFire commented on #724
v0.3.7

[2016-03-08 17:57] mreiferson commented on #724
[code]

Cannot reproduce?

[2016-03-08 17:57] #724 closed

[2016-03-09 08:16] ambarket commented on #724
@IceiceFire If you're still looking for an answer, the problem for me was that it was attempting to run a version of nsqd that was automatically compiled from the source when I imported the nsq package into my $GOPATH. Using the binaries downloaded directly from the nsq.io site works great.

[2016-03-11 05:16] IceiceFire commented on #724
@ambarket

Problem solved, thank you

[2016-03-14 08:13] honsty commented on #724
@IceiceFire   what caused it？

[2016-03-16 13:50] gjohnson opened #727 "nsqadmin: JSON warning messages"
How would one make these go away?

![screen shot 2016-03-16 at 9 46 21 am](https://cloud.githubusercontent.com/assets/67717/13814423/93100c8a-eb5c-11e5-9f83-5859e96d0a1e.png)

[2016-03-16 15:56] mreiferson commented on #727
hey @gjohnson I'm ... very confused.

What page are you looking at when you see those messages?

[2016-03-16 15:56] mreiferson commented on #727
anything more interesting in the `nsqadmin` logs?

[2016-03-18 02:50] whatisgolang opened #728 "ERROR: failed to read protocol version - EOF"
I checked nsqd  and nslookup all OK,but nsqd and nslookup logging ERROR: failed to read protocol version - EOF ,how handle this error, thinks

[2016-03-18 07:39] jehiah commented on #728
@whatisgolang can you provide some exactly logs from nsqd and nsqlookupd, and your configuration for both?

[2016-03-18 15:23] whatisgolang commented on #728
@jehiah Thank you for your reply
the nsqd logs: real ip changed X
4160): sending heartbeat
[nsqd] 2016/03/18 23:17:33.179962 LOOKUPD(x.x.x.135:4160): sending heartbeat
[nsqd] 2016/03/18 23:17:33.976228 TCP: new client(x.x.x2.124:37408)
[nsqd] 2016/03/18 23:17:33.976252 ERROR: failed to read protocol version - EOF
[nsqd] 2016/03/18 23:17:36.598805 200 GET /stats?format=json (x.x.x.136:35342) 36.875

[2016-03-18 15:32] jehiah commented on #728
So it looks like nsqd got a connection from `x.x.x2.124` and that connection didn't complete the handshake, so it ended w/ failure to read protocol. That's a totally normal response to a connection that doesn't finish handshake.

If you can provide any indication why you think that's a unexpected result please re-open w/ more context about the client making connections from that IP, and logs from

[2016-03-18 15:32] #728 closed

[2016-03-23 14:33] zhang8h opened #729 "failed ID not in flight"
`protocol error - E_FIN_FAILED FIN 09e3cdf1b2197000 failed ID not in flight`

`msg 09e3729b4fd97000 attempted 12 times, giving up`

Thing what causes it, the data is lost yet?

- Requeued   : 1,142,034

- Timed Out   : 1,142,019

- Messages   : 20,517,188

[2016-03-24 01:21] zhang8h commented on #729
Today there has been such a mistake ： `E_FIN_FAILED FIN 09e4648518997000 failed client does not own message`

[2016-03-24 01:56] mreiferson commented on #729
What's causing this are those "timed out" messages - NSQ isn't hearing back from your consumer and it's delivering the message to another consumer.

[2016-03-24 01:56] #729 closed

[2016-03-24 04:21] jinhao commented on #724
@IceiceFire what caused it？ I also got this error。

[2016-03-24 20:23] ploxiln commented on #724
Don't use go-get for nsqd. Use one of the pre-compiled binary releases, or use gpm before building (see http://nsq.io/deployment/installing.html#building-from-source).

Just "go get" doesn't work:

[code]

The problem is that a dependency changed in an in-compatible way. Likely github.com/mreiferson/go-options is the one. Godeps specifies for each dependency a recent-enough version which should de

[2016-03-29 00:39] Chong-Li commented on #724
Just give "TLS" related parameters some value. For example, start the daemon like the following:
./nsqd -tls-required=false -tls-min-version='ssl3.0'

The reason for this error seems like options (in github.com/mreiferson/go-options) does not accept the default value (for tls_required and tls_min_version) provided by nsqd.

[2016-03-29 09:40] ernoaapa commented on #714
Would be awesome to get @harlow suggested API because then running NSQ on Kubernetes would be hassle free :)

[2016-04-01 08:55] jinhao opened #730 "persisted data consumed repeated"
hi，
i have a question about nsqd persisted meta file update.
my nsqd version:

when nsqd start up, it load persisted data from disk, and then subscriber consumed the msg, but the nsqd not update the persist meta file, and then if nsqd crash when it restart, my subscriber will consume the same messages again. I know nsqd guarantees "messages are delivered at least onceAnchor link for: messages are

[2016-04-01 16:17] huahuahao2 opened #731 "nsq_to_file: multiple -lookupd-http-address"
When passing multiple -lookupd-http-address to nsq_to_file, any of the lookupd became unreachable will causing nsq_to_file ERROR out.
`nsqd v0.3.7`

[2016-04-01 16:35] jehiah commented on #731
@huahuahao2 can you be more specific about what you mean by `error out`? Does the process exit, or log and error and continue or ... ?

[2016-04-01 16:52] huahuahao2 commented on #731
From the log, here is what happened:
lookupd1 dies first, and nsq_to_file is still consuming data from the existing nsqd connects. But it cannot refresh topic list at that point, even the lookupd2 is working.
At some point today, nsq_to_file stopped for some reason. See the following log.
[code]
And when my nanny process tries to restart.
[code]
The process just exit.

[2016-04-01 17:42] jehiah commented on #731
Thanks @huahuahao2 this does sound like a bug. nsq_to_file should not exit if one or more `nsqlookupd`'s are temporarily unavailable.

[2016-04-01 19:15] ploxiln commented on #730
The metadata file should have (eventually) been updated. It may not have been synced to disk until some time and/or more messages were processed ... but it would indeed be a bug if it could wait indefinitely before being synced. See the `--sync` options:

[code]

Looks like, by default, the metadata file should be written and fsynced every 2 seconds. If you can reproduce a case where that does not

[2016-04-01 21:03] mreiferson commented on #731
I'd like to see the rest of the logs if possible? This seems likely related to the "archive all topics" functionality, and wouldn't happen if you specified a topic.

[2016-04-05 02:27] jinhao commented on #730
@ploxiln  it seems option `-sync-timeout duration` not work as our expected , the case  can reproduce every time, you can try my scene.

[2016-04-05 16:39] mreiferson commented on #730
@jinhao can you list the steps to reproduce?

[2016-04-06 01:47] jinhao commented on #730
@mreiferson

my topic is `uploadMsg` channel is `default`
my meta file`uploadMsg:default.diskqueue.meta.dat`

1. publish msgA  to topicA (no consumer consumed the msg)
2. kill -2 nsqdpid (nsqd will update the meta file and msgA of topicA to disk)
my meta file

3. restart the nsqd(reload the msgA)
4. start nsq_tail consumed msgA
5. see meta file not updated
6. kill -9 nsqdpid
7. restart the nsqd an

[2016-04-06 10:55] nordicdyno opened #732 "Grafana & Prometheus support"
Please, consider support of grafana's graphs embeding.
I would like to see end-to-end solution for nsq and prometheus + grafana integraton.
That do you think?

[2016-04-06 21:35] mreiferson commented on #732
You mean specifically for `nsqadmin`, right?

If so, then yes, I think it would be useful to support the industry standard as it evolves (which was graphite back in early 2012).

[2016-04-06 21:36] mreiferson commented on #732
P.S. this is an official "help wanted", if this is something you or others want to see, it's going to need to be contributed!

:heart:

[2016-04-06 21:37] mreiferson commented on #730
@jinhao what are the command line flags you're using for `nsqd`?

[2016-04-07 05:13] nvcnvn opened #733 "Public internal/clusterinfo package"
I writing a "**nsq_to_db**" tool with Golang which is very similar to "**nsq_to_file**" but sadly the "**github.com/nsqio/nsq/internal/clusterinfo**" pacakge is internal package.
I know that the "internal/clusterinfo" pacakge is the client tool for NSQ HTTP interface, it seem a good usage for Golang client sub pacakge?

[2016-04-07 07:21] nordicdyno commented on #732
Yeah exactly!

Thank you very much! I hope I will find some time and start prototyping solution. If anybody could help it would be great!

[2016-04-07 09:09] nordicdyno commented on #732
FYI: These guys @life360 already using Prometheus with NSQ. There is an article on Prometheus blog https://prometheus.io/blog/2016/03/23/interview-with-life360/
Maybe they have some thoughts and ideas about implementation details

[2016-04-07 09:15] jinhao commented on #730
@mreiferson
first time:

second:

both not work.

[2016-04-09 02:09] mreiferson commented on #733
@nvcnvn might make sense to make that public, we've taken this position to avoid issues of compatibility guarantees, but this package could be generally useful.

What do you think @jehiah ?

[2016-04-09 15:37] mreiferson commented on #727
@gjohnson is this still happening, were you able to get any logs?

[2016-04-09 15:51] mreiferson commented on #730
OK, I understand what's happening.

`nsqd` will only sync metadata when _writes_ have occurred, see: https://github.com/nsqio/nsq/blob/master/nsqd/diskqueue.go#L618-L622

This feels wrong, for this exact reason. We can still avoid "unnecessary" syncs, which is what I _think_ the code was intended to guard against, by counting reads too.

Thoughts @jehiah ?

[2016-04-09 18:19] jehiah commented on #730
@mreiferson yeah i agree. it should count reads and writes equally

[2016-04-11 15:59] randomchance opened #735 "docs: offer a standard License"
While I personally appreciate the simple and permissive License that the project currently has, having a custom License makes it much more difficult to use in a large corporate environment.

We have certain Licenses on an approved list (*MIT, FreeBSD, etc...*) and anything else has to be run through legal, which unfortunately can add enough overhead to make some projects non-viable.

I'm not sure

[2016-04-11 19:21] ploxiln commented on #735
The current license text *is* the MIT license.

[2016-04-11 19:30] randomchance commented on #735
ugh, this is what I get for trying to juggle too many things...

Would it be possible to add this portion:

[code]

To the top of the existing license file? That would allow me to check the appropriate boxes and satisfy legal, and hopefully help others from looking quite as silly as I feel right now.

[2016-04-11 19:51] mreiferson commented on #735
If you want to submit a PR, I'm fine with that.

[2016-04-11 19:51] mreiferson commented on #735
(thanks @ploxiln too)

[2016-04-11 20:00] randomchance commented on #735
Cool, I will see if I can do it from work, if not I'll do it from home. I really appreciate the fast responses!

[2016-04-14 04:51] freeseacher opened #737 "nsqadmin: root_url"
Please add support for root_url in nsqadmin. to make it work with reverse proxy better.
tnx!

[2016-04-15 01:01] mreiferson commented on #737
sounds fine to me, PRs welcome!

[2016-04-15 02:35] ploxiln commented on #594
I think the client should have to try to PUB and detect failure of that, rather than try to detect health first, because as you say it's race-y to do the latter.

If #625 lands, then you could add a "wait_sync" option to PUB to not return success until the topic's WAL has synced to disk (and nsqd could still batch up a few seconds worth of PUBs before syncing and responding).

Of course, nsqd hasn

[2016-04-15 03:03] #735 closed

[2016-04-15 03:03] mreiferson commented on #594
agreed, I'm sold, closing

[2016-04-15 03:03] #594 closed

[2016-04-15 18:50] twmb opened #739 "nsqd: support length 0 messages"
Currently, length 0 messages are rejected in `doPUB` for the http protocol and `PUB` in protocol_v2.

nsqd's diskQueue reads/writes enforce only the message header size (not requiring body). Also, the go-nsq api allows `NewMessage` to be called with an empty body, and `DecodeMessage` would make sense to also support a length 0 body to allow for idempotence between the two funcs.

A length 0 messag

[2016-04-19 12:02] an0sv opened #744 "Max number of concurrent connections"
It is possible to control the connection backlog size for nsqd? We get connection occasional connection refused from nsqd when issuing many simultaneous http pub:s

[2016-04-19 12:06] an0sv opened #745 "nsq_pubsub and message separation"
How can one robustly  separate the incoming stream of messages written by the nsq_pubsub utility?  looks like it only separates the messages with a single newline '\n'. But the messages can contain newlines which makes it hard to separate messages.

[2016-04-19 12:08] an0sv opened #746 "python 3 aio client"
Will bitly provide a supported python 3 aio client in the (near time) future?

[2016-04-19 12:34] jehiah commented on #745
@an0sv If your messages contain newlines, the convenience utilities `nsq_pubsub`, `nsq_to_file` and `nsq_tail` won't be of as much use to you and you'll need to consume using one of the [client libraries](http://nsq.io/clients/client_libraries.html).

[2016-04-19 12:34] #745 closed

[2016-04-19 12:38] jehiah commented on #744
@an0sv it's unlikely we'll implement special socket listen options like changing the backlog size. You should look into adjusting your client to re-using HTTP connections, or upgrade to publish messages over the more performant TCP protocol. I'd also make sure you are using v0.3.7 or later.

[2016-04-19 12:39] #744 closed

[2016-04-19 12:40] an0sv opened #747 "nsqadmin: counter goes backwards sometimes"
When looking at our NSQ counter it once each ~10s skips backwards to a lower value. Is that an expected behavior?

[2016-04-19 13:16] mreiferson commented on #746
We support an official Pythong client at https://github.com/nsqio/pynsq.

There is an open pull request for Python 3 support.

[2016-04-19 13:16] #746 closed

[2016-04-19 14:40] mreiferson commented on #747
I can confirm that this happens, it's not necessarily "expected" though 😁

[2016-04-19 17:49] an0sv commented on #746
Is that pull request for real python3 async support or something else?

[2016-04-20 17:54] an0sv opened #748 "nsqadmin: error under moderate load"
When putting a bit of a load on one of our NSQ instances we get this when accessing the NSQ web gui. The load is not that high a just couple of thousand messages per second. We are running version 3.7 on CentOS 7 128 GB, 32 Core server (E5-2630 v3)

PSTREAM_ERROR: Failed to query any nsqd: Get http://127.0.0.1:4251/stats?format=json: dial tcp 127.0.0.1:4251: connect: cannot assign requested addres

[2016-04-20 18:21] ploxiln commented on #748
Is it possible that there are many (many) client connections to nsqd, either http or tcp, and local ephemeral ports are exhausted? Look in netstat output

[2016-04-20 18:53] an0sv commented on #748
Ok, it seems that we have peaks of quite a lot of connections. Its likely that this is the cause.
Thanks for the quick response and help!

[2016-04-20 18:53] #748 closed

[2016-04-21 03:40] vincentruan opened #749 "Is it possible to return a result to procedure after consumer handled it in queue?"
Hi,
As the title said, I wanna use NSQ to implement a remote method call, so is it possible to send a result to procedure in the same channel after consumer handled it? Looking forward for your answer.
Best regards.

[2016-04-21 05:06] judwhite commented on #749
no, if want that functionality you could publish to a reply topic.

[2016-04-21 07:33] vincentruan commented on #749
But it is hard to redirect the reply message to the procedure's machine in distributed system.

![image](https://cloud.githubusercontent.com/assets/3647894/14701148/4ff5343e-07d6-11e6-8511-208119de2520.png)

[2016-04-21 18:22] mreiferson commented on #749
That's intentional, it wasn't designed for RPC

[2016-04-21 18:22] #749 closed

[2016-04-24 18:30] ambarket opened #752 "nsqadmin generates invalid statsd urls for garbage collection and topic depth graphs. Rate column contains "ERROR", and counter javascript breaks when graphs are enabled."
I'm a newbie to nsq, graphite, and statsd so I apologize if this is a trivial oversight on my part. I tried to search through the code for where these urls are being generated but I couldn't locate it. Thanks in advance for taking a look at this.

I'm running on nsq 0.3.7 (precompiled binaries). The server is a recently fresh install of Ubuntu 14.04. I just installed graphite, carbon, and statsd u

[2016-04-24 19:49] ploxiln commented on #752
I set `--use-statsd-prefixes=false` and also configure my statsd implementation to not include such prefixes. It's possible that if you do have/want such prefixes, it's less tested and buggy.

It may help to mess with the nsqadmin statsd prefix options

[code]

re: rate column errors: see #734

One last tip: your issue title is way too long, try to shorten :)

[2016-04-24 21:46] ambarket commented on #752
The workaround was to switch to using bitly's statsdaemon rather than the original statsd. As mentioned in the docs, statsdaemon by default does not prefix anything. I tried messing with the prefix command line options and couldn't get it to work with statsd.

It would be nice to have full support for statsd's new standard way of organizing the metrics because I do like how they are laid out. Thou

[2016-04-24 21:58] mreiferson commented on #752
You probably landed on at least a bug or two here, regardless. We intend to support any combination of statsd prefixing, so we should look into it.

Thanks for the report.

[2016-04-24 21:59] mreiferson commented on #752
Btw, can you paste the original arguments you used to run both `nsqd` and `nsqadmin` when things weren't working?

[2016-04-24 23:40] ambarket commented on #752
Yeah here are the commands.

nsqd -statsd-address=domain.com:8125 -data-path=/path/to/nsq-message-queues/ -broadcast-address=host.domain.com -tcp-address=0.0.0.0:6042 -http-address=0.0.0.0:6043 -lookupd-tcp-address=host.domain.com:6044

nsqadmin -graphite-url=http://domain.com:6049  -http-address=0.0.0.0:6046 -lookupd-http-address=host.domain.com:6045

nsqlookupd -tcp-address=0.0.0.0:6044 -http-ad

[2016-04-28 00:41] Dnile commented on #732
Hey there, daniel from life360 here, i i was interviewed for that blog post :)

would love to help in  any way

[2016-04-28 00:46] Dnile commented on #732
basically we use this: https://github.com/life360/nsq_exporter

and with a chef recipe, we register it in consul wherever an nsqd is present.
we have prometheus->consul setup and then its just matter of configuring the job.

the dashboards are set to gather the proper metrics, which you can find here:

https://github.com/life360/prometheus-grafana-dashboards/blob/master/nsq/nsq-all-topics.json

[2016-04-28 05:55] mreiferson commented on #732
@Dnile thanks! What about `nsqadmin` though? I take it you just ran with the built-in graphs disabled?

[2016-04-28 06:27] Dnile commented on #732
@mreifersonsort of, we...ignore the missing images :)

so i thought about this a little bit today, i think the easiest way would be to ask prometheus for pre rendered graphs in png.

not sure if its supported through the api though, have to check that option.

[2016-04-29 17:30] mreiferson commented on #732
Yes, that's what we do for graphite.

[2016-05-02 16:31] jehiah opened #753 "nsqadmin: missing channel from topic list"
the api endpoint `/api/topics/:topic` seems to be missing a channel that i see in `/stats` output from nsqd's. I'm not sure what the bug is yet, but this causes it to be missing from the nsqadmin UI at `/topics/:topic` even though it shows properly if you manually navigate to `/topics/:topic/:channel`.

[2016-05-02 17:02] blakesmith opened #754 "nsqd: topic producer stats"
Hey everyone,

We run an nsq topology with dozens of nsqd processes, and roughly ~20 or so unique producers. Several of our topics have multiple producers (EG: producers that fetch data from a streaming API vs. our poll oriented producers that fetch from a REST API).

One common request from our teams is: "What are the producer hostnames for this topic?". This helps us in many scenarios: Tracking

[2016-05-02 17:59] ploxiln commented on #754
Why do you only sometimes run nsqd locally on all servers that run producers?

[2016-05-02 18:03] blakesmith commented on #754
@ploxiln It's a tradeoff, depending on the topic and where it's produced from.

For example: Some of our front-end API servers produce messages, but we don't want to attach nsqd processes to these nodes because it would also require us to attach bigger disks for message buffering, especially since we don't want our HTTP API servers to fill lots of disks if a slow channel crops up. In other cases,

[2016-05-02 18:15] mreiferson commented on #753
I'm looking forward to the explanation on this one

[2016-05-02 18:21] ploxiln commented on #754
That does make sense, disk (or mem) queue management is a reasonable reason to run nsqd on a separate server.

[2016-05-02 18:34] mreiferson commented on #754
@blakesmith I'm pretty sure all of the metrics you're interested in already exist at the topic level in `/stats`, combined with `nsqlookupd` data you have everything you need?

What version of `nsqadmin` are you running? We recently added some visual improvements to provide a more human-readable topic producer list.

[2016-05-02 19:28] blakesmith commented on #754
Thanks @mreiferson, we're on 0.3.5 at the moment.

I already dug into the `nsqlookupd` data, and correct me if I'm wrong: But it looks like 'producer' at that level maps back to an actual `nsqd` processes, rather than a client that actually `PUB`d that data to the nsqd itself. Is this assumption incorrect?

[2016-05-03 00:12] mreiferson commented on #754
Sorry, I misunderstood, we're using "producer" differently (your definition is probably correct, I'm just used to thinking that within the NSQ context a "producer" is the `nsqd` instance itself).

[2016-05-03 01:09] blakesmith commented on #754
@mreiferson Yeah, naming things is hard. Any more thoughts or suggestions before I undertake the feature? Is there a better place where this would fit?

[2016-05-03 14:55] blakesmith commented on #754
After spending some more time thinking about this feature and going through the code, there are definitely quite a number of tradeoffs and problems that must be considered:

1. **Adding hostnames at the `Topic` level**: Right now the `Topic` struct only tracks an aggregate `messageCount` variable for each `topic.PutMessage` call, which could perhaps be disaggregated to count messages per publisher

[2016-05-04 10:35] chrusty commented on #753
I've seen the same thing recently with NSQ 0.3.6

[2016-05-04 12:46] jehiah commented on #753
thanks @chrusty that's helpful confirmation. This was with 0.3.6-alpha+build.27.967fce5

I had to resolve the production situation where i observed this, and wasn't able to reproduce this easily in a development environment so it might take me longer than i had hoped to track this down.

[2016-05-04 12:47] hicqu opened #755 "nsqd: can't recover after crash?"
I test this case:
I start 1 nsqlookupd, 2 nsqd, and 1 nsqadmin. Then I publish message to both nsqd.
Then I type ctrl + C to stop one nsqd, and run it again.
But after that nsqd restart success, I can't see any message in nsqadmin web site.
So, nsqd can not recovery messages haven't be consumed by readers after restart?
Here is my nsqd startup command:
[code]

[2016-05-04 13:21] jehiah commented on #755
@hicqu can you share full logs from both nsqd's?

[2016-05-05 01:20] jinhao commented on #755
@hicqu  i test it ok, you can see the meta file of your topic, nsqd will persist data to the disk if the message not consumed.

[2016-05-05 02:36] ploxiln commented on #755
nsqd has a `--mem-queue-size` option which defaults to 10000 messages. If the memory queue depth exceeds this size, the overflow is saved to the disk-queue. Also, if nsqd is terminated gracefully, it saves all messages to the disk-queue. But if nsqd crashes, all messages in the memory queue are lost.

This is a trade-off for performance - avoiding the disk-queue enables better performance. You can

[2016-05-05 05:06] mpe opened #756 "nsqd: v0.3.7 doesn't save topics to disk on SIGTERM"
Previously (up to and including v0.3.6) a SIGTERM would cause nsqd to write topics to disk, eg:

[code]

Topics have been persisted correctly. When nsqd is restarted it will find those messages and reload them.

With v0.3.7 the topics are **not** saved to disk, they are lost:

[code]

Topic never hit the disk.

It does work correctly in v0.3.7 if I use SIGINT:

[code]

[2016-05-05 05:11] hicqu commented on #755
I have done a new test with adding sequence number to all messages. And I found that the consumers recieved all messages correctly. Sorry for my mistake wasting your time. And thanks a lot for your helps.
But I realy hope that the nsqadmin web site could detect  this situation:
after I stop nsqd with ctrl + C, the count of all messages that have not been consumerd turn to 0 so I can't monitor the

[2016-05-05 05:39] judwhite commented on #756
https://github.com/judwhite/go-svc/blob/master/svc/svc_other.go

[code]

Looks like `syscall.SIGTERM` needs to be added back for this functionality. I'll make the changes to the `svc` dependency and update godeps.

[2016-05-05 05:53] ploxiln commented on #756
on unix you can't catch/handle SIGKILL (it's in the posix standard) so you can remove that one while you're at it

[2016-05-05 15:15] mreiferson commented on #756
Gah, huge bummer, sorry about that!

[2016-05-05 15:17] #756 closed

[2016-05-05 15:17] #755 closed

[2016-05-06 02:51] cloudaice opened #758 "nsqd: support FIFO in memory?"
Now NSQ's diskqueue is FIFO，but every data will write into disk. there is a way just put data in memory if consumer is fast enough.

[2016-05-06 03:26] cloudaice commented on #758
How about this code

[code]

But I can't prove this is faster than diskqueue

[2016-05-06 14:28] mreiferson commented on #758
Thanks for your question!

Because of the way we implement the in-memory queue, it would be impossible to provide an "infinite" queue size without modifications we're not willing to make.

You can adjust `--mem-queue-size` to something (very) large if you so desire.

[2016-05-06 14:28] #758 closed

[2016-05-06 17:57] chrusty commented on #753
After having a look around, I'm beginning to wonder if this could be a symptom of having my system-clocks out of sync. Recently some of my system clocks have skewed a bit and I know it has caused issues for some of the databases I'm using (this is pretty shameful, I know).

This is still pretty vague, I know.

[2016-05-07 15:13] mreiferson commented on #754
@blakesmith thanks for putting design time into this. I think we first need to figure out if this is something NSQ should be responsible for at all, before we go down the implementation path. It feels like it's something that could be handled outside of NSQ and might not be justified as part of core functionality.

Let's have that discussion and work through the pros and cons?

[2016-05-09 02:19] judwhite opened #760 "nsqd: channel, RequeueMessage should check exitFlag before doRequeue"
It looks like [this code](https://github.com/nsqio/nsq/blob/bf6cbc3c087e8ed3abd7d7e657da42508c77ad8a/nsqd/channel.go#L360-L362) should check `c.Exiting()`. This changed in https://github.com/nsqio/nsq/commit/de57a276b503550feab246dedd24e618bd79d49e in #701.

What do you think?

[2016-05-09 02:29] jehiah commented on #760
@judwhite Yes, i believe you are correct. There still needs to be a check against `c.exitFlag` inside the lock, the lock is just a more narrow `exitMutex` instead of the broader channel lock.

[2016-05-09 03:06] judwhite commented on #760
What do you think about giving the embedded `sync.RWMutex` a name now that there are multiple in `channel`?

[2016-05-09 14:41] mreiferson commented on #760
Yep, it should, thanks for finding this @judwhite

I _think_ this is fairly benign as the message would have been persisted to disk as part of `flush` (it must have been in flight if it's being requeued) and would result in a message ending up on the memory message channel (which was just flushed). However, if `--mem-queue-size` were set to zero, it would mean you'd end up writing an extra message

[2016-05-09 16:17] judwhite commented on #760
@mreiferson Yep will do. Stumbled on this while looking at 743.

[2016-05-09 21:02] blakesmith commented on #754
Thanks @mreiferson. The question I have is: If this code doesn't go into nsqd itself, where else does it fit? I've thought of two different models that all don't seem as elegant:

1. Track this data in the client itself. We're transitioning to our own NSQ client anyway that gives us better fleet level instrumentation and visibility, but we only really plan on exposing a JMX interface for our clien

[2016-05-11 05:04] mreiferson commented on #754
I was simply thinking of your applications that publish being instrumented with statsd.

I am sympathetic to your point about it being outside of nsqadmin, but this proposal implies you're already running statsd and graphite.

My concern is what complexity (code, performance, coordination) it might add to the publishing code path.

[2016-05-11 16:26] vguhesan opened #761 "Setting up nsqlookupd as a service on CentOS 7 (systemd) fails"
Hello:
When I run /nsq/bin/nsqlookupd on a command-prompt everything works fine. But when I try to auto-start it as a service in CentOS it does not start. Here is my nsqlookupd.service file:

[code]
I've tried both type=forking as well as type=simple both yields the same results.

[code]
Anyone out there running nsqlookupd as a CentOS 7 service?

[2016-05-11 16:36] vguhesan commented on #761
If I do not specify any type=[option] it works. So closing the issue.

[2016-05-11 16:36] #761 closed

[2016-05-12 08:08] ashitaka1107 commented on #729
@mreiferson how to solve this problem?

[2016-05-12 09:50] ashitaka1107 commented on #729
-msg-timeout="60s": duration to wait before auto-requeing a message
=。=

[2016-05-12 14:11] mreiferson commented on #729
@ashitaka1107 your consumer needs to respond to the message before that timeout expires

[2016-05-13 05:47] an0sv opened #762 "Getting FIN failures"
From time to time we see this in our NSQ log

[nsqd] 2016/05/13 07:28:33.935495 ERROR: [127.0.0.1:58597] - E_FIN_FAILED FIN 0632eb19de09b007 failed ID not in flight - ID not in flight

What could be the cause of this? I have double checked that we really are using a correct number. We are using RDY = 1 on our connections.

[2016-05-13 06:09] ploxiln commented on #762
see #729 - it's probably timing out

Do you have evidence that the message that fails was processed fast enough?

[2016-05-13 16:45] an0sv commented on #762
I will try to ensure that.

[2016-05-15 18:38] #762 closed

[2016-05-17 20:13] Yao-The-Beast opened #763 "Cant set outputBufferSize"
Hi,

I have a problem in setting the OutputBufferSize correctly. In my consumer, I have the following code:
[code]
 Yet, the console output of the nsqd told me that the OutputBufferTimeout is 0 while the OutputBufferSize was set to 2048 correctly. I have no idea what can be wrong. Here is the console output:

[nsqd] 2016/05/17 13:06:48.350367 [10.0.0.26:51792] IDENTIFY: {ShortID:s1 LongID:s1.local

[2016-05-18 01:04] blakesmith commented on #754
@mreiferson Good points. I'm going to close this for now, and do some more thinking and have more discussions with our teams. We'll see if we can find another place to put this, and if I can come up with a simpler solution that makes sense for nsq itself, I'll open another issue.

Thanks for taking the time to think through this with me!

[2016-05-18 01:04] #754 closed

[2016-05-19 21:09] roderik commented on #546
Is there any documentation available on this? We are trying to deploy nsq with docker on a multiple host system and the port mapping and ip configuration in the docs is not viable

[2016-05-20 14:13] mreiferson commented on #546
I'm not actually sure what @paddyforan had in mind for this one, there shouldn't be anything "special" on the NSQ side or in the way we're building the Docker image.

[2016-05-20 16:18] mreiferson commented on #763
`OutputBufferTimeout` should be specified in `time.Duration`, I think that might be the issue here.

[2016-05-20 16:18] #763 closed

[2016-05-25 00:35] jaytaylor opened #764 "nsqd: consider publicly exporting diskQueue"
First off, thank you for DiskQueue!  It's the best go implementation of a disk-backed channel-esque data structure that I've found!

I have been using it and it's great, but I'm sure you can imagine that hand-applying updates sucks!

Would you please consider making diskQueue publicly exported so it can be used as a "normal" dependency?

In case it is helpful, here is a copy of the ported `DiskQue

[2016-05-26 14:23] mreiferson commented on #764
yea, we probably should

[2016-05-26 17:19] ploxiln commented on #764
If there is a chance of #625 (replace diskQueue with a write-ahead log) eventually getting done, it would be kinda funny to have exported the original diskQueue

[2016-05-26 17:29] jaytaylor commented on #764
Can we get it moved out to it's own repository then, perhaps?

[2016-05-26 17:47] stephensearles commented on #764
I don't think #625 should conflict with this. I could be wrong here, but the interface, I'd guess, will stay mostly the same? It's more like, with #625, that diskQueue will be used a little differently by NSQ to promptly store things and give clients more assurance about that, but it shouldn't fundamentally change writing a stream of events to disk.

[2016-05-26 19:48] jaytaylor commented on #764
What are your thoughts on possibly relocating DiskQueue into it's own external repository?

[2016-05-26 20:12] mreiferson commented on #764
That would seem to be the likely path if we do export it.

[2016-05-27 12:14] Licenser opened #765 "nsqd: won't compile on illumos"
It seems that dirlock depends on some Linux specific syscalls, compilation of NSQd fails with the following output

[code]

[2016-05-29 21:55] mreiferson commented on #765
just need to add a compiler flag to noop the implementation on illumos

[2016-06-13 21:55] jchauncey opened #767 "Running nsq as non-root user in a container"
I keep getting the following error:

[code]

[2016-06-13 22:22] jchauncey commented on #767
You need to set `WORKDIR` to get around this error

[2016-06-13 22:22] #767 closed

[2016-06-14 08:20] alileza opened #768 "nsqadmin: [question] reset statistic"
Is there anyway we can reset statistics on NSQAdmin without affecting ongoing queue? My cases is, i expect requeued & timeout number on my spesific topic decreasing, so by reseting the statistic i can see how's fast the number grows.

or is there any topic monitoring tools that can produce metrics per topic, i think it could be useful.

[2016-06-14 15:04] ploxiln commented on #768
nsqd can send these statistics to statsd / graphite, and you can view/analyze them there, or even view the graphs of them back in nsqadmin:
![screen shot 2016-06-14 at 11 03 09](https://cloud.githubusercontent.com/assets/649835/16047850/b726ebde-321f-11e6-8ad5-a645afabf664.png)

[2016-06-14 16:55] alileza commented on #768
nice, thanks. Since there's no statsd on my stack, is there any plan
integrating with prometheus?

On Tuesday, 14 June 2016, Pierce Lopez <notifications@github.com> wrote:

[2016-06-14 17:04] ploxiln commented on #768
#732

[2016-06-14 17:06] ploxiln commented on #768
(also, nsqd currently works best with "statsdaemon", an alternative implementation of statsd written in go)

[2016-06-14 17:18] #768 closed

[2016-06-16 14:37] kenjones-cisco opened #769 "nsqadmin: configuration update API"
Currently nsqd has an API for updating the configuration attribute `nsqlookupd_tcp_addresses`. The same feature is needed for nsqadmin.

Also each component nsqd, nsqadmin, and nsqlookupd all support a configuration file option `config`, add support for SIGHUP to trigger reloading the configuration file and continue processing with the updated configurations.

[2016-06-17 00:30] mreiferson commented on #769
@kenjones-cisco our thinking was it's much safer to restart `nsqadmin` so using some wrapping service that `TERM`s the process on config changes would be reasonable.

What do you think?

[2016-06-17 00:49] kenjones-cisco commented on #769
I'm currently using containerpilot (https://www.joyent.com/containerpilot) that handles registering each instance of nsqd, nsqlookupd, and nsqadmin into consul. For nsqd, when the registered service "nsqlookupd" changes the onChange event is triggered and and I use the API to update the configurations. That allows each nsqd to show up within each nsqlookupd.

For nsqadmin, I need a similar option

[2016-06-20 23:44] mreiferson commented on #769
@kenjones-cisco thanks for the explanation.

I guess this feels like the perfect use case for `nsqadmin`, since it feels reasonably low risk to restart as a mechanism for receiving configuration updates.

In any event, I'm fine with adding a config API similar to `nsqd`. Are you interested in taking a pass at this?

[2016-06-21 09:41] bezigon opened #770 "Is there any Upstart script provided?"
My config files are simple, is that enough?
[code]
[code]
[code]

[2016-06-21 13:10] mreiferson commented on #770
Not out of the box, no.  Your scripts look fine!

[2016-06-21 13:10] #770 closed

[2016-06-23 14:45] ankitathakur commented on #543
I've a query : "Docker doesn’t have the need to expose ports to link containers" -- does this mean that the containers are more secure or it implies that the containers are less secure? Please suggest.

[2016-06-23 14:53] ankitathakur commented on #543
I've a query. Can anyone please explain me what does the following statement mean:

"Docker doesn’t have the need to expose ports to link containers"

Does this imply that containers are "highly secured" or it mean it's "less secured" ?

[2016-06-24 17:41] fixe commented on #646
+1 for adding the endpoint to `nsqadmin`.

[2016-07-04 14:23] virtuald commented on #708
@paddyforan also interested in your k8s integration

[2016-07-12 03:35] renodesper commented on #711
I'm sorry to ask this in closed issue, but my problem is related to this issue. How can we know the total of opened files by nsq? My ulimit is 1024 and I don't use supervisor to run nsq on my system.

[2016-07-12 09:39] renodesper opened #771 "Unable to get hostname open /proc/sys/kernel/hostname"
Is it necessary to open _/proc/sys/kernel/hostname_ ? Because nsqlookupd sometimes return an error message indicating that it has open too many files. When this happen, nsqadmin also showing an alert and nsq stop functioning.

This is the error message in nsqlookupd:
`ERROR: unable to get hostname open /proc/sys/kernel/hostname too many open files`

[2016-07-12 18:28] ploxiln commented on #771
If you've hit the file descriptor limit for the nsqd process, you have bigger problems.

You asked in a closed issue how to list the open file descriptors of nsqd. That's OS dependent. It seems you're using linux, so something like this should work:

[code]

[2016-07-12 18:32] ploxiln commented on #771
Just to be clear, `pgrep nsqd` should print out a list of PIDs of processes with the basename "nsqd". The above command assumes that there's only one.

You can see the file descriptor limit for the process with something like

[code]

(look at the "Max open files" line)

[2016-07-22 03:04] #771 closed

[2016-07-23 15:11] mreiferson commented on #516
See nsqio/nsqio.github.com#11

[2016-07-23 15:11] #516 closed

[2016-07-23 18:19] kenjones-cisco opened #772 "NSQ gpm install error"
Trying to setup an environment to run NSQ tests, using the travis.yml as a guide.

The gpm install results in this:

[code]

Any idea why this is happening?

[2016-07-23 18:26] kenjones-cisco commented on #772
I upgraded gpm from `1.2.3` to `1.4.0` and it works with no issues.

[2016-07-23 18:28] mreiferson commented on #772
Was just about to ask you what version of `gpm` you were using!

[2016-07-23 18:28] #772 closed

[2016-07-23 21:32] mreiferson opened #774 "nsqd: TestDiskQueueSyncAfterRead is flakey"
Please disperse there is nothing to see here.

[2016-07-23 21:50] #769 closed

[2016-07-23 21:51] mreiferson commented on #769
see #773 / #775

[2016-07-23 21:53] kenjones-cisco commented on #714
I think #775 resolves this one as well.

[2016-07-23 21:57] mreiferson commented on #714
Heh, forgot about this one - seems like we were originally on the fence and I probably should have given @jehiah a chance to review the PR that just landed 🚨 .

Closing.

[2016-07-23 21:57] #714 closed

[2016-07-27 23:31] #680 closed

[2016-07-27 23:31] #715 closed

[2016-07-27 23:32] mreiferson commented on #715
see #776

[2016-07-27 23:32] mreiferson commented on #680
see #776

[2016-08-02 14:17] kenjones-cisco opened #779 "[PROPOSAL]: Leverage OpenAPI Specification for APIs"
Provides clear documentation of each API and how to use them that is not tied to any specific vendor or technology.

There are tools that can consume the spec and generate the server component and the client component. [go-swagger](http://goswagger.io/)

Also tools for displaying the spec as html, and allows for interacting with the API if server is available.

nsqlookupd APIs as example:
https://

[2016-08-02 14:21] kenjones-cisco commented on #779
Screen caps in HTML format

![nsqlookupd-spec-snap1](https://cloud.githubusercontent.com/assets/7967510/17331889/dbec9e54-589a-11e6-9daa-23215f4b7112.PNG)
![nsqlookupd-spec-snap2](https://cloud.githubusercontent.com/assets/7967510/17331891/dd99bc8c-589a-11e6-9fcf-97a94dc2295a.PNG)
![nsqlookupd-spec-snap3](https://cloud.githubusercontent.com/assets/7967510/17331895/e09dccca-589a-11e6-9288-013a198e9

[2016-08-02 14:49] mreiferson commented on #779
It sounds promising for specification and documentation, I'm a bit weary of using it to generate the actual code though. In your experience, if we omitted code generation, would that compromise the effectiveness of this approach?

[2016-08-02 14:57] kenjones-cisco commented on #779
The code generation is only one of the possible benefits, there parts of what the code generation does that could be just used directly such that the spec is part of the run time to avoid the dreaded documentation and the code not being in alignment.

That is why I only put that under the Considerations list vs. the task list. I believe after creating the specs for the APIs and making use for the

[2016-08-03 09:25] xuqingfeng opened #780 "dist: ownership of archived files"
[code]

notice the `501 games` here

PS. probably doesn't matter

[2016-08-03 16:12] mreiferson commented on #780
hah, it's picking up my user IDs from my laptop

[2016-08-03 21:28] kenjones-cisco commented on #779
@mreiferson When I submit a PR to add the specs, where in the directory structure would you want them placed?

Should the groups of APIs listed as deprecated (all those referred to as pre-v1) be included or would it be safe to leave those off?

[2016-08-03 21:39] mreiferson commented on #779
Hmmm, `spec` directory for now? Let's leave off the deprecated endpoints.

[2016-08-03 21:41] kenjones-cisco commented on #779
Questions based on initial nsqlookupd spec that was created.

- Use of `POST` vs. `DELETE`: Is there any historical reason for not using `DELETE` operations when the API is expected to perform an actual delete? Could a `DELETE` operation be provided for a period of time?
- Use of status `200` on POST: Is there any historical reason for always using `200` and returning an empty message/body vs. usi

[2016-08-05 08:52] AnotherGoogleFans opened #784 "How do I know if a topic is empty with golang"
In my project, my producer should detect if a topic is empty(all data in the topic has been consumed). I wonder how can I know that. I cannot find API in document.

[2016-08-05 09:49] #784 closed

[2016-08-14 20:28] mreiferson commented on #779
No good reason, unfortunately.

Same here.

Poke around the issues surrounding https://github.com/nsqio/nsq/pull/330, I remember going back and forth a bit on this.

Perhaps it's not an error if the topic is not found (e.g. they result in a topic being created)?

[2016-08-14 20:29] mreiferson commented on #779
Yes, seems like good practice to validate the inputs on any endpoint that expects those parameters.

I don't think errors make sense for those ops.

[2016-08-18 17:45] jehiah opened #788 "apps/to_nsq: add --rate to throttle message creation"
This adds a `--rate=int` option to `to_nsq` which will throttle the message creation to that rate per second:

[code]

This is helpful when you want to load a large dataset into a message driven pipeline w/o causing a backlog of messages to process on the NSQ side.

[2016-08-19 16:14] shinzui commented on #510
Is this something that's being worked on?

[2016-08-19 18:15] ploxiln commented on #510
Yes, in #625

[2016-09-01 22:37] elubow opened #789 "nsq_to_file: could use some saner defaults"
Currently when `nsq_to_file` is run with no options, it automatically connects to every topic with a non-ephemeral channel and starts writing to disk. It would be more sane if the initialization was an ephemeral channel.  It would also be more sane if the default wasn't to connect to every topic and that was an option.  Was this a design decision made intentionally?

[2016-09-01 22:39] mreiferson commented on #789
Hah, I can't even imagine what happened after you ran it @elubow
🔥 👊 😵

[2016-09-02 00:45] jehiah commented on #789
funny. not funny. consuming with a `nsq_to_file` channel made sense when topic was a required option (before nsq_to_file gained the ability to archive more than one at a time). I'd be ok if we just made that a required option again. Archiving with an ephemeral channel by default seems worse.

Thoughts?

[2016-09-02 01:04] elubow commented on #789
@mreiferson I had to go through every single topic and delete the nsq_to_file channel. And on the topics that were supposed to be collecting data and waiting for a consumer, I had to reload all those topics again with the data from disk. Needless to say it took a while and caused some issues.

@jehiah I think what would make sense is adding a '-all' option which would accomplish the same thing and

[2016-09-02 01:10] ploxiln commented on #789
just chiming in from the peanut gallery ... I agree that some topic option should be required, and it's likely someone out there really wants the all-topics functionality, but I think they can get that with something like `--topic-pattern=".*"`

[2016-09-02 02:32] kant111 commented on #521
@casertap I followed the same example from the same link as you and I get the same error as well. were you able to figure out how the code should look like in that example? If so, can you please forward it?

[2016-09-02 08:09] roylee0704 opened #790 "Question: How do we `aws-beanstalk` the way we `docker-compose` for nsq?"
In `docker-compose.yml`. It's really easy to set up links between nsq applications: nsqdlookd, nsqd, etc.

[code]

But what about in `dockerrun.aws.json`? Does anyone have any experience in that?

[2016-09-02 15:35] mreiferson commented on #789
Agreed, default shouldn't connect to all.

@elubow care to write a little Go my friend?

[2016-09-02 16:06] elubow commented on #789
I've been writing plenty of Go lately.  I'm not averse. I just didn't want to submit a PR that changes the default behavior of anything if there was a legitimate reason for having it behave the way it does in the first place.  I like @ploxiln idea of using `--topic-pattern` way better than mine of using `-all`.  I'd have to defer to one of the more seasoned folks to know if that's reasonably easy

[2016-09-02 16:09] mreiferson commented on #789
Shouldn't be too bad?

I'm 👎  on this — given that we're addressing this unexpected default behavior I don't think it's necessary to create _another_ flag to append `#ephemeral`, just override `--channel`.

[2016-09-02 16:15] elubow commented on #789
As an aside, I'm concerned that channel name doesn't work properly in `nsq_to_file`. This most recent few times I've run it, the channel name consistently ends up `nsq_to_file` regardless of what I input as a channel name.  I'm planning on investigating that when I get a chance to dive in to changing the default behavior here as well.

[2016-09-02 16:57] earwin commented on #549
I think if you don't give user an option, proper behavior is to stop accepting new messages with an error, once the limit is hit.
That is exactly what happens already, when runaway queue eats all available disk space.
Thus, we get better behavior, while preserving existing contract.

[2016-09-04 03:21] judwhite commented on #549
@earwin I agree. We're okay with getting a failed PUB, tossing out old messages would not be desirable. Both use cases seem valid.

[2016-09-05 16:09] zouyx opened #791 "about nsqd stats"
[code]

hi all!
i got some data from production as above
and i have a question
question one : why some channel has many depth message and another hasn't?
question two : what will cause the depth message quickly increase?

[2016-09-05 17:27] mreiferson commented on #791
The consumer(s) on those channels aren't processing the messages fast enough based on incoming volume.

Same as above.

[2016-09-05 17:27] #791 closed

[2016-09-10 15:02] mreiferson commented on #790
Please use the https://groups.google.com/forum/#!forum/nsq-users for questions like this.

[2016-09-10 15:02] #790 closed

[2016-09-14 00:07] AshishKumarGoel commented on #549
I would be in the favor to stop accepting new messages. Deleting old messages is not desirable.

[2016-09-30 16:55] devicenull opened #793 "nsqd: pass TLS CN= to auth API"
We already have a TLS CA and cert architecture set up, and would like to reuse that with nsq.  This setup was all built out for Puppet, which uses the Subject of the cert to determine which machine is which.  I'd like to see nsq pass the 'Subject CN' to the auth api, so we can determine what permissions a connection should have based on it's cert.

Combined with -tls-client-auth-policy require-ver

[2016-09-30 20:40] mreiferson commented on #793
this is a cool idea, I think I'm 👍

[2016-10-04 20:00] judwhite commented on #789
@elubow If you're archiving a topic you _probably_ don't want to drop messages, or at least you don't want that to be the default behavior. `#ephemeral` channels do this when `mem-queue-size` is exceeded instead of buffering to disk.

I'm up for making this change.

[2016-10-04 21:13] judwhite commented on #789
@elubow I tested this scenario and wasn't able to reproduce. Looking at the code it seems unlikely unless you typo'd `--channel`. While testing I also messed up the args and wished it complained.

[2016-10-05 00:38] mreiferson commented on #789
see #794

[2016-10-05 00:38] #789 closed

[2016-10-09 18:54] deoxen0n2 opened #795 "docs: DPUB"
Hi, I checked the docs and couldn't see information about Deferred PUB introduced by this PR #293 . Should it be on this http://nsq.io/components/nsqd.html and http://nsq.io/clients/tcp_protocol_spec.html pages?

Best regards.

[2016-10-10 00:00] mreiferson commented on #795
@deoxen0n2 yes! would you like to submit a PR?

[2016-10-10 08:33] deoxen0n2 commented on #795
@mreiferson I can do PR, but I will get to know more of it first. Thanks you for fast reply.

[2016-10-10 16:37] jannickj opened #796 "NSQ how to deal with different throughput queue chains?"
I have looked through all the documentation and this problem is not mentioned anywhere [not even in the 5 situations it can fail](http://nsq.io/overview/faq.html)

If I have a system of two queues that are dependent on each other and the first grows faster than the second. Then I risk running out of disk space... Is it assumed that I have infinite disk space? That is not the case in my setup.

The

[2016-10-10 17:13] jehiah commented on #796
@jannickj This is a good question for the mailing list nsq-users@googlegroups.com

NSQ is designed to be a distributed data stream which means that capacity constraints can be solved by scaling horizontally. It's outside the scope of NSQ to mange appropriate capacity for your specific workload.

[2016-10-10 17:13] #796 closed

[2016-10-10 17:21] jannickj commented on #796
@jehiah Yes that would be outside its scope, however just being able to limit total queue size seemes like a faily simple solution.

[2016-10-10 17:32] jehiah commented on #796
That feature is being tracked as #549

[2016-10-13 11:47] denofiend opened #797 "how to config TLS of nsqadmin and nsqd in Distributed Systems"
how to config TLS of nsqadmin and nsqd?

nsqdadmin in machine  A, nsqd in machine B.

[2016-10-14 05:28] denofiend commented on #797
fixed.
	HTTPClientTLSInsecureSkipVerify bool   `flag:"http-client-tls-insecure-skip-verify" cfg:"http-client-tls-insecure-skip-verify"`
	HTTPClientTLSRootCAFile         string `flag:"http-client-tls-root-ca-file" cfg:"http-client-tls-root-ca-file"`
	HTTPClientTLSCert               string `flag:"http-client-tls-cert" cfg:"http-client-tls-cert"`
	HTTPClientTLSKey                string `flag:"http-cl

[2016-10-14 05:30] #797 closed

[2016-10-14 05:31] denofiend commented on #797
nsqadmin support tls has bug in options.go file

[2016-10-14 06:12] jchauncey opened #798 "nsqd: a way to configure logging verbosity"
I have a lot of messages like this - `[nsqd] 2016/10/14 06:12:02.995304 200 GET /stats?format=json (10.2.78.72:34186) 32.394µs` and they are not particularly useful to me.

[2016-10-14 15:19] mreiferson commented on #798
Unfortunately no, there are no logging verbosity options.

[2016-10-18 11:55] xushichangdesmond opened #799 "nsqd: deadlock NSQD.Exit() on Windows"
Running on a mac seems ok, but running the below on my Windows 10 machine has me stuck in Exit for a very long time.

One of the stack traces for the goroutines that look a little fishy to me is:

[code]

[code]

[2016-10-18 21:28] mreiferson commented on #799
I don't have a Windows machine to reproduce, can you help @judwhite?

[2016-10-19 11:12] elvarb commented on #549
The option of deleting old messages and the option of stop accepting new messages both have their use cases.

[2016-10-19 18:15] earwin commented on #549
There are two separate concerns: functional (how application wants to deal with overflows), and operational (what happens to the machine when overflow occurs).

Applications might want to delete old ones, new ones, low priority ones, every second ones, ... — supporting this is a long and painful road, which I'm not sure nsq should take.

As for operational concerns — we have a de-facto contract: n

[2016-10-19 18:40] elvarb commented on #549
I see two different use cases with different requirements.

1. There is a local NSQd logging/metrics queue that is written to and then NSQ_to_NSQ is used to ship from that local queue to a remote queue. If the connection is lost you do not want the server to go down because the disk got full, the priority is for the server to be up. Loosing the oldest messages is preferable in the metrics use case

[2016-10-19 18:50] earwin commented on #549
Option to drop newest instead of rejecting them is stupid (for a lack of better word). A client is perfectly capable of dropping the message itself after rejection (or maybe put into another queue, or a gazillion other options), it's not nsq's place to decide.

While you see two usecases, there are much more.
E.g. for some of our queues it is better to drop every other message, and others would be

[2016-10-19 21:37] elvarb commented on #549
I agree completely

This work would definitely make me happy regarding this problem. https://github.com/nsqio/nsq/pull/625

[2016-10-20 03:25] denofiend opened #800 "why authd desgined for one client connection not for all nsqd?"
why authd desgined for one client connection not for all nsqd?

if client connection close after pub message, every pub query pass nsqd, authd once

[2016-10-21 04:13] mreiferson commented on #800
I'm not quite sure what you're asking here, can you try to elaborate or rephrase? Also, this is a better question for the [mailing list](https://groups.google.com/forum/#!forum/nsq-users).

[2016-10-21 04:13] #800 closed

[2016-10-25 03:49] piaohailin opened #801 "-config="../setting.ini" writing grammar？"
1, can write all the configuration file?
2, configuration files, writing grammar is what?
3, can you provide example, thank you

        I write so setting file   tcp-address = "0.0.0.0:41503"

[2016-10-25 04:09] ploxiln commented on #801
https://github.com/nsqio/nsq/blob/master/contrib/nsqd.cfg.example

[2016-10-25 04:18] #801 closed

[2016-10-26 03:20] denofiend commented on #800
I can try

[2016-10-26 03:28] judwhite opened #802 "nsq_to_file: updates"
See PR #794 for discussion.
- [x] `--topic` and `--topic-pattern` should be mutually exclusive options
- [x] ~~`--topic` and `--topic-pattern` should work for both `nsqd` and `nsqlookupd`~~
- [x] Report unrecognized arguments, don't silently ignore them; see [`flag.Args`](https://golang.org/pkg/flag/#Args)

[2016-11-02 10:39] mschneider82 opened #803 "nsqadmin: timeout settings"
Hi,

I justed upgraded my infrastructure (~120 nsqd's, ~20 topics, serval channels) from 0.2.9 to 0.3.8 and now the nsqadmin is always failing because of timeout settings:

## Example1:

clicking on a topic: `http://nsqadmin.local/topics/exampletopic`

`ERROR: failed to decode JSON - Unexpected token in JSON at position 132`

### Browser inspect:

Headers:
[code]

Response:
[code]

this also happe

[2016-11-02 13:00] mschneider82 commented on #803
i just saw https://github.com/nsqio/nsq/commit/454cf2f56a35bbd5c9179d2921ee204d822b9f20

is `http-client-connect-timeout` also a commandline parameter? I cant find it with `--help`

[2016-11-02 13:06] jehiah commented on #803
FWIW display of errors in the nsqadmin UI when it fails to connect to nsqlookupd or nsqd is new as of #657 (0.3.6) so versions before that may have allowed errors to passed undetected.

As of #776 nsqadmin does have `-http-client-connect-timeout duration` and `-http-client-request-timeout duration`. You'll need to build a copy of nsqadmin from master to get that.

[2016-11-02 15:46] mreiferson commented on #803
Yea, probably time for a release?

[2016-11-02 16:53] mschneider82 commented on #803
i compiled it and its working with a 20s timeout setting :+1:
a new stable release would be great. maybe enlarge the default parameters?

[2016-11-02 18:32] chacken opened #804 "nsqd nslookupd ping errors"
It should be noted that nsqadmin works, but it takes a really long time (30 seconds?) for it to load the nodes, topics, pages, and there aren't any nodes displaying.. I assume because of the issue below.
"NSQd Nodes (0)"

So first and foremost, I know nsqlookupd works because running
curl http://{host_ip}:4161/ping
returns a 200
[code]
pinging nsqd also returns a 200
[code]

However, it seems some

[2016-11-02 18:38] chacken commented on #804
Crap, my mistake, the lookupd port on nsqd should be 4160, not 4161.

[2016-11-02 18:38] #804 closed

[2016-11-02 18:38] mreiferson commented on #804
`nsqadmin` also needs a link to the `nsqd` container!

[2016-11-02 18:39] chacken commented on #804
@mreiferson thank you.. someone might want to update this page then: http://nsq.io/deployment/docker.html

[2016-11-02 18:41] mreiferson commented on #804
@chacken want to open a PR on https://github.com/nsqio/nsqio.github.io?

[2016-11-02 18:45] chacken commented on #804
@mreiferson sure thing, once I get this fully working. ;)

[2016-11-03 08:42] #803 closed

[2016-11-03 14:58] sdbaiguanghe opened #806 "confusion about the statistics"
I used **DPUB** cmd to publish a few defered message. I get the statistics through nsqadmin and if found the **Channel. Requeued** increased but **Channel. Messages** didn’t increase.
And when a message time out the **Channel.Requeued** and **Channel.TimedOut** both increase.
I do not think it's logical. So i [pulled a request](https://github.com/nsqio/nsq/pull/805
) to
slove it.

[2016-11-03 15:20] mreiferson commented on #806
@sdbaiguanghe thanks, let's continue the conversation on #805

[2016-11-03 15:20] #806 closed

[2016-11-04 07:05] likuli opened #807 "DPUB，Why can't use this function"
Hello. DPUB ，this function can't use？

When I use this function , give me a error:

`ERROR: Error('E_INVALID invalid command DPUB',)
E_INVALID invalid command DPUB`

[2016-11-04 10:30] likuli opened #809 "NSQ for asynchronous communication"
Hello,How can I used nsq for Asynchronous communication?

[2016-11-04 10:51] cmlanche opened #810 "UPSTREAM_ERROR: Failed to query any nsqd: Get http://MyServer:4151/stats?format=json: dial tcp: lookup MyServer on 8.8.8.8:53: no such host"
what is problem, help!

[2016-11-04 13:51] jehiah commented on #810
nsq expects hosts to have resolvable hostnames. If you do not have a routable hostname (i.e. it's not in DNS or `/etc/hosts` on every machine) then you can set `-broadcast-address` to the IP address you use to connect to nsqd.

[2016-11-04 13:51] #810 closed

[2016-11-04 13:55] jehiah commented on #809
@likuli please ask general usage and configuration questions on the mailing list

http://nsq.io/community.html

[2016-11-04 13:55] #809 closed

[2016-11-04 15:54] mreiferson commented on #807
You might be using an older version of `nsqd` that doesn't support it?

[2016-11-04 15:54] #807 closed

[2016-11-04 17:34] chacken commented on #804
@mreiferson  Quick question.  What's the recommended approach to secure this?  The easy way out would be to setup a firewall and limit the ports to specific IP's, but what if we're running dynamic infrastructure that could potentially use a vast range of addresses?

[2016-11-09 16:51] TUTUBIG opened #811 "bad protocol magic 'GET '"
hi guys! i visit the nsqadmin via the browser and i get
 `ERROR: failed to decode JSON - Unexpected token \ in JSON at position 124`
 and i find it comes from the nsqlookupd which give the error message
` bad protocol magic 'GET '`
what's wrong ?

[2016-11-09 17:00] jehiah commented on #811
@TUTUBIG This is likely a configuration issue with missing TCP and HTTP protocol ports in your configuration.

This type of question is more appropriate for the mailing list http://nsq.io/community.html

[2016-11-09 17:00] #811 closed

[2016-11-09 17:17] TUTUBIG commented on #811
@jehiah ok  i will read this document again ,thank you

[2016-11-11 12:53] elvarb commented on #648
Did the shot work?

[2016-11-14 10:07] wangxingge opened #812 "Can i use NSQD as a push service?"
for example, there are more than 100000 clients connect to the nsqd.
and i want use nsqd push message to each client, can i do that?

I've use nsq for one year, not very young user  :), and i need a push service now, i've test thrift and grpc, they are works and very nice. but i need to change my current design. So i want to use nsq as my push service.

Do you have any suggestion on that? Or NSQ j

[2016-11-14 11:20] zieckey commented on #812
If you need to push a message to only several clients, I think that's OK. But if you push a message, and want all the clients (more than 100000) received this message, I thinks that's impossible.
Your clients are the comsumer of NSQD, one message is pushed to all the clients, it needs all the clients registered in deferent NSQD's channels, and NSQD will clone the message more 100000 times for ever

[2016-11-14 11:24] zieckey commented on #648
I like this feature.

[2016-11-14 17:57] mreiferson commented on #812
@wangxingge a typical architecture for this with NSQ would be to build an application that consumes from a channel and maintains long lived connections with clients for delivery.

[2016-11-14 17:57] #812 closed

[2016-11-15 01:16] wangxingge commented on #812
Thanks for mrerferson and zieckey response.
I'll check it.

[2016-11-15 02:50] gewentao commented on #674
Hi @mreiferson ,

If nsqd exits at runtime. Upon restart, how to read deferred messages from disk and re-defferred them?

[2016-11-15 05:59] ploxiln commented on #674
That would require an interesting feature addition. Currently there is no way for some messages to be automatically deferred as nsqd starts up and reads the disk queues. NSQ consumers will start receiving the messages promptly, and have to re-defer them if that is still needed (or timeout, if that's what caused the deferment initially).

There is a "DPUB" aka deferred-publish endpoint, by popular

[2016-11-15 07:35] gewentao opened #813 "nsqd: deferred message lost"
I published 3 deferred messages (one hour duration) and then stopped the docker container of nsqd.

channel stats before stopping docker container:
![](http://ww4.sinaimg.cn/large/61400a92jw1f9sttsevm2j21kw0a5taf.jpg)

then I restarted the container:
![](http://ww2.sinaimg.cn/large/61400a92jw1f9stw8yhigj21kw09dgnc.jpg)

It seems the number of messages in disk queue (e.g. 2) is always one less than

[2016-11-15 09:27] judwhite commented on #813
@gewentao which version of nsqd are you running?

[2016-11-15 09:44] gewentao commented on #813
@judwhite Thanks for your reply. I'm using the nsqio/nsq docker image.

[2016-11-16 09:16] pedia opened #814 "nsqadmin improve: HomePage add messages and depth count"
First login into nsqadmin, we got all topics. Can we add topic's message, depth count, client count?
like:
topics:
|A | client count | depth count | fly count | message count|

[2016-11-16 14:19] jehiah commented on #814
I think i understand the desire, but in the past when we have dug into possible implementations we come up short.

While technically messages can queue at the topic level under situations of resource starvation (or if no channels exist yet) in practice the depth you want is from channels. There are many channels per topic so there is no reasonable way to compress that information to a usable forma

[2016-11-16 14:19] #814 closed

[2016-11-17 07:37] gewentao commented on #813
Just FYI: I built the source code and ran an instance of nsqd in localhost rather than a docker container, it works good. All the deferred messages were flushed to disk. Maybe stopping a docker container of nsqd directly is not graceful that causes the message lost issue?

[2016-11-17 17:26] mreiferson commented on #813
That would either implicate the version of `nsqd` running in the container or the fact that it's running in a container to begin with. Can you provide the exact command(s) you're using and which version of the image?

[2016-11-18 03:45] gewentao commented on #813
`  nsq:`
`    image: nsqio/nsq`
`    command: /nsqd`
`    container_name: nsq_server`
`    ports:`
`      - "4150:4150"`

This is the configuration in my docker compose file.

[2016-11-20 17:01] mreiferson commented on #813
@gewentao what version of the container?

[2016-11-21 16:36] gewentao commented on #813
vagrant@vagrant-ubuntu-trusty-64:~$ docker version
Client:
 Version:      1.11.1
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   5604cbe
 Built:        Tue Apr 26 23:30:23 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.11.1
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   5604cbe
 Built:        Tue Apr 26 23:30:23 2016
 OS/Arch:      linux/amd64

[2016-11-21 18:07] mreiferson commented on #813
@gewentao I meant the NSQ docker container's version...

[2016-11-21 18:31] gewentao commented on #813
@mreiferson I'm using the image named 'nsqio/nsq', so I think it's the latest version of nsq socker image...

[2016-11-21 19:17] ploxiln commented on #813
[code]

The "version" of the docker image is the "hash" `2a82c70fe5e3`, and you can ask nsqd inside what version it is.

[2016-11-22 02:39] gewentao commented on #813
@ploxiln thanks, the version is:  nsqd v0.3.8 (built w/go1.6.2)

[2016-11-23 11:42] magnetised opened #815 "Nsqadmin fails to load node data with IPv6 broadcast addresses"
When nsqd instances are configured with IPv6 addresses e.g. `broadcast-address=fdeb:5ba3:18b3::1` then when nsqadmin attempts to load the node stats it does a naive mapping of the broadcast address to an HTTP/TCP address which gives invalid results.  In the above case it would attempt to fetch from `http://fdeb:5ba3:18b3::1:4151/stats` which fails at the URI parsing stage.

Note that if you set th

[2016-11-24 09:17] judwhite commented on #756
BTW, this was a documentation issue at one point https://github.com/golang/go/issues/13080

[2016-11-25 18:19] mreiferson commented on #815
@magnetised does #816 address this or should we keep this issue open to track the above? Can you elaborate on this, too?

[2016-11-28 11:34] elvarb opened #817 "Running NSQd as a Service (with NSSM) or Scheduled Task fails on Windows"
Running NSQd 0.3.8 in a user session on Windows works perfectly but running it any other way does not work.

Tested for Schedule Tasks
* Pointing directly to nsqd.exe
* Pointing directly to a bat file that starts nsqd.exe
* Made my own golang program that does os.exec start on nsqd.exe
* Made my own golang program that starts a bat file that starts nsqd.exe
* Made a powershell script that uses sta

[2016-11-28 12:12] elvarb commented on #817
There is a similar issue I'm having with the latest version of Telegraf, does not work with NSSM. But Telegraf is using a native golang service handler that works.

In the Telegraf github issues
* https://github.com/influxdata/telegraf/issues/860
* https://github.com/influxdata/telegraf/issues/1760
There is a reference to Kardianos issue
* https://github.com/kardianos/service/issues/72

They both

[2016-11-28 18:13] ploxiln commented on #817
cc @judwhite

[2016-11-30 05:48] judwhite commented on #817
@elvarb interesting, I'll try to repro your results wrt a scheduled task and other ways of launching the binary.

[2016-12-01 12:17] gthmac opened #818 "nsqd: stopping without any error in logs"
We have been running nsqv0.3.8 for a while now and it works very well. We are only facing one issue with it, which is that the nsqd daemon ceases to run, i. e. stops without any indication why so.

Our setup is:
2 nodes, each of which runs 1 nsqlookupd and 1 nsqd
1 of them also runs nsqadmin

On node1, nsqd is started as such:
[code]
One node2, vice versa:
[code]

The log-files after both nsqd sto

[2016-12-01 13:54] jehiah commented on #818
Can you add some information about how are you running nsqadmin and nsqlookupd? Are you just running from a bash shell? If so you will need to use something like `nohup nsqd ... &` so it continues running after you close your terminal session.

[2016-12-01 14:11] gthmac commented on #818
Thanks for the immediate reply. Am running it as a centos service, not from a terminal.
Is there any conditions when nsqd stops servicing? E. g. too many channels etc?

I am asking this as I had to increase the max_open_files already, but when it stopped servicing for that specific reason then nsqd gave an appropriate error message.

[2016-12-02 10:09] magnetised commented on #815
@mreiferson I don't actually think that there is a bug around the handling of the broadcast address. Wrapping broadcast addresses in `[..]` was a hack I tried and it didn't work, but I think it's right that it didn't work. Nsq's behaviour is correct IMHO.

[2016-12-02 13:51] esiqveland commented on #817
I am seeing this with NSQ 0.3.8-go1.6.2.

Tried running as a service with NSSM and WinSW service wrappers.
No output is captured from the process, that exits immediately after launch.

The only error seen is

"2016/12/02 14:11:27 The service process could not connect to the service controller."

with both nssm and winsw.

[2016-12-02 17:08] mreiferson commented on #815
@magnetised so then we can close this?

[2016-12-02 19:03] iameugenejo opened #819 "Batching efficiency"
I developed a service using nsq,

and what it does is, each service clients accumulate messages, process them then store the result.

It is always efficient if a client can batch as many messages as possible within a limit.

For batching efficiency, I do not want the messages to be spread out across the multiple clients, rather I want the messages to fill up a client at time.

Is there a way of ac

[2016-12-02 19:29] jehiah commented on #819
This is a a good question for the mailing list http://nsq.io/community.html

In general NSQ allows the client to control how many messages you get from NSQ at a time with max-in-flight. It's then up to the client when it chooses to complete the messages.

The built in utility `nsq_to_file` for example uses this strategy to write messages to disk immediately but only send the FIN back to nsqd when

[2016-12-02 19:29] #819 closed

[2016-12-02 20:06] iameugenejo commented on #819
I think you didn't understand what I want. I have multiple clients, and I don't want them to be queued for taking messages. I don't want the messages to be distributed fairly. Anyway I'll move the question to mailing list.

[2016-12-02 20:45] iameugenejo commented on #819
And this was more of a feature request than a question. So I don't know if mailing list is a good fit. I'll just try to implement this in the service.

[2016-12-02 20:55] jehiah commented on #819
nsq doesn't dictate how a client does or doesn't batch operations, so I think the mailing list is the right spot for discussing strategies around that. There may well be possible features to add related to this, but it's unclear from your issue here exactly what that is.

[2016-12-05 07:00] judwhite commented on #817
@esiqveland Can you try using `sc.exe`?

[code]

[2016-12-05 08:00] esiqveland commented on #817
Thank you @judwhite!

It seems to be working with `sc.exe`, but I couldn't find a way to access any logs of the output from the process.

[2016-12-05 10:05] judwhite commented on #817
@esiqveland I'll work on that this week

[2016-12-05 10:37] szank opened #820 "nsq.io is serving wrong certificate"
When I tried to open `nsq.io` website, I got HTTP error from Chrome. The server have presented cert for `*.github.com`.

[2016-12-05 23:36] ploxiln commented on #820
nsq.io is hosted by github. You can't use https://nsq.io/, you need to use http://nsq.io/.

Note that https://nsqio.github.com/ works and redirects to http://nsq.io/, and that various links in the github README and elsewhere use http:// for nsq.io.

[2016-12-06 10:56] szank commented on #820
Hi,
I have no idea how did I end up with https://nsq.io. Maybe google, maybe just editing the address bar.

Either way, telling people that they can't use https if the website is available via https is silly. I am well aware that nsq.io is hosted on github.  Also, I am well aware of the redirection.

If grabbing a cert from letsencrypt is too much work, than fine, you can close this bug. Still ser

[2016-12-06 18:02] ploxiln commented on #820
I agree, https for nsq.io would be better, I was just trying to be overly clear. But I failed to mention that it's not possible to just set up working https for github-hosted sites using custom domains. The website would need to be hosted elsewhere. (Or Cloudflare, a company/service separate from github, would need to be set up as a reverse proxy for the website.)

[2016-12-06 18:07] szank commented on #820
Fair enough,
I would have expected that github servers did support SNI.
I am closing this bug, as there is no easy fix for the current situation.

[2016-12-06 18:07] #820 closed

[2016-12-07 02:54] strugee commented on #820
@szank they support (require?) SNI, IIRC. That doesn't mean that they actually _use_ SNI to support custom domains.

[2016-12-07 07:18] esiqveland commented on #817
Interestingly, `nsq_to_file.exe` works with NSSM and WinSW, but not with `sc.exe`.

[2016-12-07 08:16] judwhite commented on #817
@esiqveland `nsq_to_file` doesn't have native Windows Service support. Only `nsqd` and `nsqlookupd` do at this point.

[2016-12-13 09:53] JensRantil opened #821 "Support for draining"
Scenario: I have an `nsq` daemon that I'd like to decommission. I'd like to stop receiving messages, but would like to drain it.

See also https://groups.google.com/forum/#!searchin/nsq-users/Jens$20Rantil%7Csort:relevance/nsq-users/bRvFylU984M/5BRxLA2eBAAJ.

[2016-12-13 22:25] ploxiln commented on #821
The main thing to do is stop publishing to that nsqd (but continue consuming from it), until all depths fall to zero on that nsqd.

You *might* be using nsqlookupd to find nsqd instances to *publish* to - just in case you are, let me mention that is not the most common publishing configuration. One common publishing configuration is to always publish to nsqd on localhost, in which case you need to

[2016-12-14 09:33] yangyifeng01 opened #822 "nsqd: panic when sending garbage to binary /mpub"
I tried to use  nsqd v0.3.8 (built w/go1.6.2), but just  when I enter the command below

[code]

after one second , nsqd crashed!
No matter how much nsqd and nsqlookupd run.

Here's the error logs:
[code]

[2016-12-14 12:36] JensRantil commented on #821
Thanks for a great answer!

[2016-12-14 12:36] #821 closed

[2016-12-14 19:30] ploxiln commented on #822
The relevant part of all those backtraces is this:

[code]

So, because you specified `binary=true`, the data is supposed to start with the number of messages (in binary), so `\n\n` (and some other bytes, I'm not sure which exactly) were interpreted as "number of messages" which was a very large number.

@mreiferson there could probably be a limit of messages per mpub.

[2016-12-15 14:37] mreiferson commented on #822
Yes, definitely.

@yangyifeng01 thanks for the report!

[2016-12-15 14:40] mreiferson commented on #818
@gthmac one plausible explanation is that the process is being killed (`-9`) which wouldn't show up in the `nsqd` logs. Possible explanations for this might be the OS killing it due to OOM (out of memory).

Can you look at your `syslog` to see if there's any indication of that?

[2016-12-15 14:41] #815 closed

[2016-12-19 08:52] dengjunwen opened #824 "How to install nsq offline"

[2016-12-19 14:45] jehiah commented on #824
@dengjunwen this sounds like a question for the mailing list. It's also unclear what issues you ran into when trying to install nsq, so any more context you can provide will help.

http://nsq.io/community.html

[2016-12-19 14:45] #824 closed

[2016-12-20 03:19] dengjunwen commented on #824
Thanks!  I want to install nsq to a vps。 But the vps can not connect to internet, it is connected in Local Area Network。    Now I find the way to install nsq。   Thank you！

[2016-12-22 21:02] stephensearles opened #826 "nsqd: not properly creating channels registered in lookupd on seeing a new topic"
I have a bunch of topics that are produced on a variety of nodes. It's not always clear to me ahead of time which nodes will be producing which topics, but it is certainly some overlapping subset. I have two consumer channels: "archive," for nsq_to_file, and "events," for part of the application. The problem is bringing up a new node: I don't know exactly which topics to create in `nsqd`, but I do

[2016-12-22 21:02] stephensearles opened #827 "nsqlookupd is missing a bunch of http api documentation"
Unless I'm missing something, I think there's a bunch of extremely handy functionality that's not called out on the website. Specifically, nsqlookupd seems to support a handful of the same HTTP API that nsqd does, though with a couple minor differences. (e.g. /channel/create on nsqlookupd will implicitly create a nonexistent topic, but nsqd will not)

[2016-12-22 21:09] jehiah commented on #826
Going to close this, If you configure nsqd with nsqlookupd it should already do as you describe.  If you are running into a bug w/ that configuration please re-open w/ steps to reproduce.

On the first message for a topic nsqd will query all configured nsqlookupds and will create the right channels as registered in nsqlookupd. If you pre-register topic/channels in nsqlookupd, those will get picked

[2016-12-22 21:11] jehiah commented on #827
Can you re-open this issue the docs repo https://github.com/nsqio/nsqio.github.io ?

[2016-12-22 21:11] #827 closed

[2016-12-22 21:53] stephensearles commented on #826
1. Start a fresh nsqd, pointing to a fresh lookupd
2. Run a script like:

[code]

3. publish a message: `curl -X POST 'http://localhost:4151/pub?topic=t1' --data '{}'`
1. call /stats on nsqd to see when the message is delivered

[code]

As you can see, the clients connect over some time, and when they do, they don't both end up getting the first message.

I poked around the lookupd code a bit, and

[2016-12-22 21:54] stephensearles commented on #826
@jehiah it doesn't seem like I can reopen the issue myself. (I do remember github allowing that in the past, but they must have removed it)

[2016-12-22 21:58] jehiah commented on #826
Thanks for the detail; can you also provide the nsqd run command you are using, nsqd logs, and the output from nsqlookupd `/topics` endpoint prior to publishing the first message?

[2016-12-22 22:02] jehiah commented on #826
oops actually output from `http://127.0.0.1:4161/channels?topic=t1` is what i'm interested in not `/topics`. That should be what nsqd queries.

For reference, the logic that implements this feature is [here](https://github.com/jehiah/nsq/blob/master/nsqd/nsqd.go#L453-L466)

[2016-12-22 22:12] ploxiln commented on #826
Might be a bug in nsqd. I got a pretty small reproducer:

[code]

[2016-12-22 22:23] stephensearles commented on #826
[code]

ok that dumps out all the configs we want, I think. I'm collecting now. It seems like sometimes I get the result we'd expect and sometimes I don't.

[2016-12-22 22:28] stephensearles commented on #826
Ok, I've got both cases logged here: https://gist.github.com/stephensearles/3358571bb5eebdc62aab566dd6e51f80

[2016-12-22 22:37] ploxiln commented on #826
I think that your case where it works out is luck of timing, with both clients connecting and creating their channels in nsqd at almost the same time, before the goroutine for the topic starts draining messages into the channels.

[2016-12-22 22:49] stephensearles commented on #826
I tried running with the race detector, and I'm seeing this:

[code]

not sure if related

[2016-12-22 23:13] stephensearles commented on #826
So we acquire the topic lock on line 450 of nsqd, just before we do the lookupd scan, but we release it before indicating the channel update to the message pump. I'm wondering if just moving that unlock to below that select would do it.

[2016-12-22 23:36] ploxiln commented on #826
I don't think the race (during an `Sprintf("... %s ...", err)` or the lock is related. I think I figured it out:

The fix for your setup is to give nsqlookupd `--broadcast-address=127.0.0.1`

The explanation is that nsqd uses *http* requests to nsqlookupds to get the list of channels for a topic. What it has is nsq binary protocol connections, so it takes the broadcast address and http port that i

[2016-12-22 23:43] stephensearles commented on #826
@ploxiln , not sure I understand how that would cause the message to only go to one consumer when two connected on different channels, both before the message was published.

I do think I found a flaw in the messagePump loop where it is potentially using an array of channels that has become out of date. PR forthcoming.

[2016-12-22 23:49] ploxiln commented on #826
nsqd didn't look up the channels at all, because it can't figure out the http address for nsqlooupd, because it can't figure out the correct broadcast address of nsqlookupd.

In your transcript, nsqd does not request the channels from nsqlookupd. If you tell nsqlookupd its correct broadcast address (ip-address or hostname) for your setup, you'll see that it will, immediately, like so:

[code]

[2016-12-22 23:55] stephensearles commented on #826
If that's the case, how do the nsq_to_file instances ever find the nsqd?

[2016-12-23 00:01] stephensearles commented on #826
Oh, I see, it's using my os hostname as the default for lookupd, which is a .local mdns address. That takes a few extra milliseconds to resolve, even though it's still just localhost. That said, that request is still in flight when the message pump is pushing messages through, and it sounds like that is unexpected behavior?

[2016-12-23 00:04] ploxiln commented on #826
You give the nsq_to_file the nsqlookupd-http-address so that's how they contact nsqlookupd.

nsqlookupd and nsqd use a different algorithm to determine the nsqd tcp address to return to nsq_to_file.

I think the .local hostname just doesn't work these go binaries on OS X, possibly because the binary distribution does not use the system libc resolver (so they only work with real dns names or ip add

[2016-12-23 00:14] stephensearles commented on #826
I guess my question put better: how did lookupd tell nsq_to_file anything about my nsqd if nsqd and lookupd couldn't communicate?

[2016-12-23 00:24] ploxiln commented on #826
The tcp connection nsqd made to nsqlookupd worked, because you specified that address as localhost:4160.

An argument could be made that nsqd should parse that address to get the host part for the http address. But it didn't, it asked nsqlookupd over the tcp connection. And the answer didn't work for it.

[2016-12-23 00:26] stephensearles commented on #826
I guess it's also just not obvious that nsqd uses lookupd's http interface at all. It doesn't even have a flag to specify it.

[2016-12-23 00:33] stephensearles commented on #826
Ok, now I'm pretty sure the mdns is not causing it to fail. I added a call to lookupd's /nodes just after it came up, and it shows the producer:

[code]

[2016-12-23 00:34] stephensearles commented on #826
Pasting in the full up-to-date script:

[code]

[2016-12-23 00:45] ploxiln commented on #826
Yes, nsqlookupd knows the address of nsqd (from examining the tcp connection).

Please adapt your test with the trivial work-around which I mentioned many messages ago at this point:

[code]

[2016-12-23 00:47] stephensearles commented on #826
Oh, ok, I think I figured out what I was misunderstanding. The cluster overall figures it out because the TCP connection from nsqd to lookupd is enough to wire things up, but I guess not as gracefully as I expected. I poked in at wireshark and yeah, lookupd responds to nsqd's IDENTIFY basically by parroting back the info.

[2016-12-23 00:53] stephensearles commented on #826
So moving back over to my linux environment where this originally arose, I'm wondering why the BroadcastAddress ends up empty there too, or at least why that breaks this:

[code]

On that machine, the os hostname is "developer.corp.shipwire.com". That isn't a real DNS name in the strict sense, but it's defined in the /etc/hosts file on the machine.

[2016-12-23 01:21] stephensearles commented on #826
Ok, I think I figured out why the broadcast address isn't working in that case: the default doesn't seem to be pulled correctly. In github.com/mreiferson/go-options, the Resolve function is documented](https://godoc.org/github.com/mreiferson/go-options to say that the final choice is the given default struct value. Looking at the code closer to the action there, it seems like it actually pulls the

[2016-12-23 01:45] ploxiln commented on #826
It's intended for the default to be the hostname:
https://github.com/nsqio/nsq/blob/master/apps/nsqlookupd/nsqlookupd.go#L69-L71
https://github.com/nsqio/nsq/blob/master/nsqlookupd/options.go#L28-L31

but it does seem possible that there's a mixup in there, introduced while refactoring options a year or so ago...

[2016-12-23 02:12] stephensearles commented on #826
So as this stands, there are a few potential angles here:

1. The options package should probably behave as documented and return the options. I have a [PR](https://github.com/mreiferson/go-options/pull/14) open there to do that.
2. Perhaps nsqd should yell louder if it is talking to a lookupd instance but can't get channel information out of it. (as it stands, the missing broadcast address is onl

[2016-12-23 02:36] ploxiln commented on #826
(I see you figured out the intended default options already, sorry :)

In general, I think there are a number of "known opportunities for improvement" in this project, but it works well enough for the maintainers' deployments, and not many other people are stepping up to really dig in (myself definitely included there). I think all three of those ideas, if implemented in "good" PRs, would likely b

[2016-12-23 03:21] jehiah commented on #826
I think all 3 areas are great improvements. (And thanks @ploxiln for your help troubleshooting here). 3 doesn't completely negate 2 because we want to properly support mixed version topologies.

1) we might need to think through backwards compatibility issues, but it's a clear bug.
2a) nsqd should log/yell when it gets a missing broadcast address back from nsqlookupd, and describe implications
2b)

[2016-12-23 07:15] stephensearles commented on #826
Nice! I'll be happy to help out with these, but I'm going away for a couple weeks and not sure I'll be able to during that time. So, if somebody else gets there before me, cheers! Otherwise, just wanted to call that out instead of just disappearing. :)

[2016-12-23 17:18] mreiferson commented on #826
@stephensearles thanks for digging into this (and @ploxiln)! I'm in favor of (1) and (2) as `nsqlookupd`'s future is uncertain and doing (3) seems like a poor use of time.

I've commented on https://github.com/mreiferson/go-options/pull/14

[2016-12-26 20:38] gucki commented on #804
@chacken I'm having exactly the same issue. Did you get it working?

[2016-12-26 23:06] chacken commented on #804
@gucki I couldn't use version two services method for some reason.  There was also something else that I had to change but can't remember what.  I haven't played with it in awhile.  Regardless, the web GUI was very inconsistent and would randomly timeout for some reason, although the messages would pass through fine.

[2016-12-27 20:23] jehiah opened #829 "nsqadmin: restrict config change API"
#769 introduced API endpoints to nsqadmin to update the runtime config value for `nsqlookupd` to give better options for integrating into dynamic environments where restarting the service to pickup new configs is not practical (aka it's running in a container, etc). This also modeled the API after `/config/:opt` endpoints on

Unfortunately `nsqadmin` has a different exposure risk as it's a UI is m

[2016-12-28 03:05] mreiferson commented on #829
What about a configurable CIDR to allow config updates from?

[2016-12-28 04:13] jehiah commented on #829
Yeah that's a much better version of `b`.

[2016-12-28 16:32] lauyoume commented on #532
I also meet this problems, And I change snappy to the google's snappy.
It's ok now..

https://github.com/golang/snappy/

[2016-12-28 17:43] mreiferson commented on #532
@lauyoume thanks for the tip! I've opened #830 to handle this. I think it's good to defer to official "golang" packages when possible anyway!

[2016-12-28 19:20] mreiferson commented on #826
sufficiently handled in #831

[2016-12-28 19:20] #826 closed

[2016-12-28 21:32] #532 closed

[2016-12-28 22:01] #780 closed

[2016-12-28 22:29] #822 closed

[2016-12-28 22:30] mreiferson commented on #822
fixed in #835

[2016-12-28 22:59] mreiferson commented on #818
@gthmac gonna close this as it seems unlikely for this to be a bug in `nsqd`. If you have any more information that indicates otherwise please re-open.

[2016-12-28 22:59] #818 closed

[2016-12-28 23:16] ploxiln commented on #826
#831 didn't seem to change the behavior for me
https://gist.github.com/ploxiln/da888917cf5b74022fa73a5f990bcd49

Some highlights from the full setup/test log:

[code]

[2016-12-28 23:28] mreiferson commented on #826
@ploxiln you're expecting me to validate it too?!?!

[2016-12-28 23:36] ploxiln commented on #826
I'll do some debugging, it'll just be a few hours til I get around to it ;)

[2016-12-30 01:50] jehiah opened #841 "nsqadmin: allow ctrl/meta+click to open new tab"
Often when browsing nsqadmin i want to ctrl+click something to compare two topics or channels in different tabs, but the current behaviour disables that capability.

This causes clicks to be handled normally by the browser when ctrl/meta is pressed instead of doing any fancy SPA navigation.

RFR @rolyatmax @mreiferson

[2016-12-30 13:33] denofiend opened #842 "nsqd: gc stop the world 5-8 seconds"
Hi,
   My nsqd gc is issues, stop the world 5-8 seconds:

[code]

How to solve?

[2016-12-30 15:09] jehiah commented on #842
@denofiend I have a few follow up questions for you so we can help

- What nsqd version are you using (`nsqd -version`)
- Can you share a little about your configuration? Particularly what sorts of message throughput and message size is your workload.
- What is resource availability on the host (is it CPU starved)
- How are you measuring these GC metrics (Are you using the built in statsd metrics,

[2016-12-30 17:09] mreiferson commented on #842
I don't see the STW in that output?

According to the `GCTRACE` docs, it looks like that time is spent in the (concurrent) mark-and-sweep phase:

[code]

[2017-01-01 21:04] mreiferson commented on #813
I haven't been able to validate this inside or outside a docker environment, closing.

If you can provide a reproducible test, please re-open.

Thanks!

[2017-01-01 21:04] #813 closed

[2017-01-01 21:11] mreiferson commented on #760
see #843

[2017-01-01 21:11] #760 closed

[2017-01-03 02:00] denofiend commented on #842
1. version nsqd v0.3.8
2.  conf
verbose = true
mem_queue_size = 0

here is config file:
[nsqd.txt](https://github.com/nsqio/nsq/files/681593/nsqd.txt)

3.  when gc pause, there is no log for 5 - 8 seconds, and produce client timeout for read message from nsq. the admin gc stats:
![gc](https://cloud.githubusercontent.com/assets/1941075/21598624/b000dcf0-d19a-11e6-9d20-0e5912a98068.png)

I use gctra

[2017-01-03 02:07] denofiend commented on #842
I found the source code from go, the second time is tMarkTerm.
[code]

[2017-01-03 23:55] mreiferson commented on #842
Given that you're setting `mem-queue-size` to `0`, is there a corresponding burst in disk IO around that time?

Can you try different values for that setting and see if the problem persists?

[2017-01-04 06:00] denofiend commented on #842
I try set mem-queue-size = 100,  but the problem persists.

[2017-01-04 06:30] mreiferson commented on #842
@denofiend OK, do you have a reproducible script? Is there anything else notable about your runtime environment (e.g. OS)?

[2017-01-06 00:38] gr4finger opened #845 "docs: /put should now /pub in quick start"
Just wanted to inform you about an error in NSQ QUICK START guide
The example for publishing a message using curl says:
$ curl -d 'hello world 1' 'http://127.0.0.1:4151/put?topic=test'.

This results into an error. The right URL should be "pub" (not "put")
$ curl -d 'hello world 1' 'http://127.0.0.1:4151/pub?topic=test'.

Same error (copy&paste) also in "hello world 2" and "hello world 3".
cheers,

[2017-01-06 00:44] mreiferson commented on #845
@gr4finger would you mind opening a PR to fix on https://github.com/nsqio/nsqio.github.io?

[2017-01-06 00:45] mreiferson commented on #845
cc @jehiah

We actually need to remove a whole lot of deprecated references in the docs for `1.0`.

[2017-01-06 12:09] ruimarinho opened #846 "nsqd: expose memory stats under /stats"
Currently the `/stats` endpoint exposes most stats that the `statsd` integration provides. However, it looks like memory stats are not exposed.

Enabling `--statsd-mem-stats` has no effect on the number of stats exposed.

Would you be open to expose these?

[2017-01-06 22:43] mreiferson commented on #845
see https://github.com/nsqio/nsqio.github.io/issues/14

[2017-01-06 22:43] #845 closed

[2017-01-06 22:44] mreiferson commented on #846
Sure, that seems fine to me.

[2017-01-10 22:30] didip commented on #764
Count me in as one other person that's been forking `diskqueue.go` and applying upstream patch by hand.

It would be super awesome if `DiskQueue` is publicly exportable.

[2017-01-11 01:14] mreiferson commented on #764
OK, fine

[2017-01-11 04:22] mreiferson commented on #764
see #847

[2017-01-11 04:22] #764 closed

[2017-01-11 20:46] therealbill opened #848 "Inspecting deferred messages"
I don't see any docs on the subject so I'm not sure if this is a docs or feature request. ;)

While knowing there are messages deferred is great, the ability to inspect deferred messages is even better. Think of, for example, the deferred queue in Postfix. You can get data about the messages deferred. For nsq the same would be very useful as it would allow you to do some digging if you get a spike

[2017-01-12 03:51] jaytaylor commented on #764
@mreiferson Thank you!

[2017-01-12 16:19] mreiferson commented on #848
@therealbill no, there is not way to inspect any of the messages in the queue.

I'll leave this issue open for discussion.

[2017-01-12 17:32] therealbill commented on #848
@mreiferson thanks of confirming I've into merely been blind. ;)

Some items in particular I'd like to see on these would be, so maybe we can work through what might make a good feature-request:

* ability to see the message-id for deferred/timedout messages
* ability to see age of messages (either in seconds/nanoseconds or via timestamp)
* maybe a count of times a message has been deferred

I sup

[2017-01-13 00:14] ploxiln commented on #848
* timed-out messages are re-queued (and deferred) automatically
  * a message includes (in its metadata) an "attempts" count (equivalent to count of re-queues plus 1)

When a consumer receives a message, it can determine how many times it has already been re-queued, and decide to throw it out by immediately calling `.finish()` on it.

For general discussion and questions you can use the google gro

[2017-01-23 08:53] justintan opened #849 "nsqd: Failed to publish an initial message"
Get and build nsq with src
**go get -u -v github.com/nsqio/nsq/...**

Start nsq following the document http://nsq.io/overview/quick_start.html

In the 5th step
curl -d 'hello world 1' 'http://127.0.0.1:4151/put?topic=test'

Get result:
{"message":"NOT_FOUND"}

nsqlookupd, nsqd and nsqadmin are running and seems no fault

[2017-01-23 09:05] justintan commented on #849
I read the source code.
It should be curl -d 'hello world 1' 'http://127.0.0.1:4151/pub?topic=test'
Official document needs update

[2017-01-23 15:47] mreiferson commented on #849
see https://github.com/nsqio/nsqio.github.io/pull/15

[2017-01-23 15:47] #849 closed

[2017-01-25 07:21] thelinuxlich opened #851 "nsqd: stops sending messages"
Sometimes one of my nsqd nodes simply stops sending messages to the consumer/reader(using nsqjs) and starts saving these messages to disk. When I connect with nsqadmin to the nsqlookupd address I can see that this node is not in the Topic Message Queue list. So I restart its nsqd daemon, and all of a sudden it starts sending all those messages in the disk to the consumer and it reappears in the To

[2017-01-25 11:36] jehiah commented on #851
@thelinuxlich can you provide some context on your configuration, and relevant logs from nsqd prior to and after restarting it?

[2017-01-25 13:36] thelinuxlich commented on #851
I have two nsqd nodes connecting to two nsqlookupd nodes. The two nsqd nodes also hosts a microservice directly writing messages to their local instances which gets subscribed by two microservices connecting directly to their nqslookupd instances.

Logs usually only print this:

Jan 25 13:31:25 aidax-collector-2 nsqd[19813]: [nsqd] 2017/01/25 13:31:25.501527 LOOKUPD(10.240.200.16:4160): sending he

[2017-01-25 22:54] ploxiln commented on #851
The consumer should reconnect to nsqd and receive messages. But the report is still a bit too vague. Please include:

  * version of nsqd
  * command-line flags and/or config file used for nsqd
  * output of "curl localhost:4151/stats" on nsqd server
  * a bit more info about the consumer, how it is configured and started

Those heartbeats, and the "error ping", are between nsqd and nsqlookupd. Th

[2017-01-26 21:18] thelinuxlich commented on #851
I'm using nsq 0.3.8 in all nodes.

The nsqd service configuration:
[code]

The "curl localhost:4151/stats" output of the nsqd node that I had to restart because it stopped sending messages:
[code]

The consumer uses https://github.com/dudleycarr/nsqjs here a sample JS code describing how I use it:

[code]

[2017-01-26 21:26] dudleycarr commented on #851
I could be misreading the stats output, but it does look to me like the channel has processed all of the messages. Are you sure that there are unprocessed messages?

[2017-01-26 21:35] thelinuxlich commented on #851
There were millions of messages unprocessed, but I restarted the nsqd daemon before posting the issue here.

[2017-01-26 21:38] dudleycarr commented on #851
When the message processing stalls, could you please try restarting the nsqjs worker instead of the `nsqd`. If that allows the processing to resume, it's probably an issue with nsqjs. If that's the case, it would be helpful to open an issue on `nsqjs` and provide the output from running a worker with the `DEBUG=* node ...`.

[2017-01-26 22:19] thelinuxlich commented on #851
I tried restarting the nsqjs worker first and it didn't worked. Only restarting the nsqd node it reappeared again in the nsqadmin UI sending all those messages saved to disk.

[2017-01-27 00:14] ploxiln commented on #851
If it happens again, please capture stats and recent log lines before restarting anything, and post them here. Thanks!

[2017-01-27 08:14] freeseacher commented on #798
+100500 for that.
My logs full of mostly debug log output.
i am experimenting with such solution
[code]
It works exactly like looks.

[2017-02-07 11:11] thomasmodeneis commented on #851
I have this issue as well for quite some time, but I believe this has more to do with nsq.js than with NSQ itself.
On my experience this has something to do with large queues and the malfunctioning of the network connections.
I usually have this problem when the processors are really busy for a while and there is a interval when nothing is processed, as soon as more messages are dropped into the q

[2017-02-12 02:26] andyxning opened #853 "Move log package to glog"
Currently, iiuc, nsq does not support log rotation. This is not scalable for it.

How about we move log package to glog which is used by Kubernetes organization and supports log rotation when log file size exceed 1.8GB by default.

/cc @mreiferson @jehiah

[2017-02-17 03:37] andyxning commented on #853
@mreiferson Any thoughts about this?

[2017-02-17 04:58] ploxiln commented on #853
glog isn't strictly required in order for logs to be rotated.

There are a few different systems that collect stdout/stderr from processes/services and manage the writing of log files. This could be considered a better separation of concerns than if every service had its own logic for log files/rotation/relaying.

Docker, which Kubernetes typically uses, can (now) rotate its own "json-file" logs f

[2017-02-17 05:49] andyxning commented on #853
@ploxiln

Agree. Just like what is recommended in [12factor#log](https://12factor.net/logs). glog can meets this, too. By default, glog will send all logs to `stderr` which is consistent with `log` usage in nsq. At the same time, glog supports to log to a file with file size rotation. By enabling glog, we add more option for users and do not import any inconsistence. WDYT.

[2017-02-17 06:22] ploxiln commented on #853
I do not object to a few more logging features, or to glog in particular.

[2017-02-18 19:01] jehiah opened #854 "nsqadmin_to_slack: send nsqadmin event notifications to Slack"
This is a tool extracted out of the Bitly repo to send nsqadmin notifications to a Slack channel. Debatable if this should land in the main repo, but ¯\_(ツ)_/¯.

[2017-02-19 05:39] judwhite commented on #853
Coming from the wonderful world of Windows, when executables are started by Service Control Manager (running as a Windows Service, which any semi-serious production app does) you don't get access to stdin, stdout, or stderr. For real. Of all the things that annoy me about platform differences this is probably the top. Handling the streams is the right way to do it IMO, but when you're under SCM yo

[2017-02-19 05:58] ploxiln commented on #853
For windows support, I'd personally suggest ripping out the windows service hooks that are in nsqd/nsqlookupd, and tell people to use [winsw](https://github.com/kohsuke/winsw/) to wrap them for windows. It looks like it runs any normal long-lived process, and also handles stdout/stderr logging to files: https://github.com/kohsuke/winsw/blob/master/doc/loggingAndErrorReporting.md

[2017-02-19 06:07] judwhite commented on #799
@xushichangdesmond Can't repro. Are you still having this issue? Is it consistent? How are you running the executable?

/cc @mreiferson

[code]

[code]

[2017-02-19 06:39] judwhite commented on #853
@ploxiln [NSSM](http://nssm.cc/) is the de facto standard, but I'm not in favor of this approach. It would add another thing that can go wrong, can have compatibility issues, and has to be deployed. It's more work for the user and a barrier to entry. It would also change how people are deploying NSQ on Windows today. I added this support in a fork of 0.3.2 before it was merged in, we've been runni

[2017-02-19 06:54] ploxiln commented on #853
Not arguing, just bringing up the datapoint to be considered. To be clear, it seams that #817 is in fact caused by the windows service hooks in nsqd and nsqlookupd, so users can't run processes as services with their preferred manager (nssm or winsw), and thus can't log to file and rotate logs.

[2017-02-19 06:57] ploxiln commented on #853
Also, honest question, how do _you_ manage nsqd / nsqlookupd logs on windows?

[2017-02-19 07:04] judwhite commented on #853
@ploxiln Honest answer, we don't log nsqd/nsqlookupd. We monitor the clients. If people prefer to use NSSM there are ways to support that without removing native support.

[2017-02-19 07:55] andyxning commented on #853
@judwhite @ploxiln @judwhite

I previously mean that whether we should replace `log` package with `glog`. IMO, this has nothing to do with the nsq deployment platform. We should make a decision about this movement in a general way instead of adjusting for any particular OS. :)

For the discussion about this topic please take a look at [#853 comment](https://github.com/nsqio/nsq/issues/853#issuecom

[2017-02-19 08:02] judwhite commented on #853
@andyxning Sorry we got on a tangent :smiley: If you have previous experience with `glog` and it meets the needs then great, let's try that if the core team is open to it. It does overlap a bit if we're seriously considering Logrus (overall one of the most popular golang packages, used in Prometheus and other high profile projects) which also handles the "leveling" aspect.

[2017-02-19 08:18] andyxning commented on #853
@judwhite
[glog](https://github.com/golang/glog/blob/master/glog.go#L17-L70) also supports log leveles. :) For more info about it, please consult https://github.com/golang/glog @mreiferson .

glog has been used in almost all kubernetes projects. It has been tested already. :)

[One of the biggest benefit is that log destination can be customized through command line.](https://github.com/golang/glo

[2017-02-19 08:27] xushichangdesmond commented on #799
it was consistent when i filed this. but I left the job so to say and am no
longer using nsqd at the moment.

it was easily reproducible using the sample code and running with go run.

i suppose this should be closed if nobody else seems to be affected here.

Thanks.

On Feb 19, 2017 14:07, "Jud White" <notifications@github.com> wrote:

[2017-02-19 09:39] judwhite commented on #799
@xushichangdesmond I just tried this with `go run` and it worked on Win7. I'll try on Win10 shortly and see if I can get repro; if not I agree it's probably best to close. Congrats on the new job!

[2017-02-20 09:19] andyxning commented on #853
Finally, i googled that [cronolog](https://linux.die.net/man/1/cronolog) is a awesome tool for redirect and rotate stderr/stdout.

[2017-02-20 19:04] mreiferson commented on #799
Closing, re-open if it's reproducible.

[2017-02-20 19:04] #799 closed

[2017-02-20 19:11] mreiferson commented on #853
I agree with @ploxiln — the handling of logs is the responsibility of the environment, not the process.

@judwhite I'm interested in the answer to https://github.com/nsqio/nsq/issues/853#issuecomment-280900608

[2017-02-21 08:13] judwhite commented on #853
@mreiferson We don't log nsqd/nsqlookupd.

I also agree that handling logs is the responsibility of the environment. In practice, on Windows, it doesn't work that way. I wish it did.

[2017-02-21 12:05] andyxning commented on #853
@mreiferson Does it means that we will not consider replace `log` with `glog`?

[2017-02-21 21:46] ploxiln commented on #853
If nsqd/nsqlookupd/... were to use a more sophisticated logging library, like glog or logrus, it would need to be made to integrate nicely with nsqd/nsqlookupd/... command-line flags and config files, and it would need to default to logging to stderr. If a pull request were opened that accomplished those goals in an elegant way, I don't know if it would be accepted, but it would have the best chan

[2017-02-21 22:03] mreiferson commented on #853
If someone did all that work I think there's a 99% chance we would accept that PR. There's a 0% chance that I'm going to do that work.

[2017-02-22 00:16] andyxning commented on #853
I would like to give this a try. :)

=======
Andy Xie

2017-02-22 6:03 GMT+08:00 Matt Reiferson <notifications@github.com>:

[2017-02-22 05:26] judwhite commented on #853
@andyxning Would you like to pair on this? You can find me on the Gopher Slack.

[2017-02-22 05:27] andyxning commented on #853
Yes, of cause. My Gopher Slack name is andyxning.

=======
Andy Xie

2017-02-22 13:26 GMT+08:00 Jud White <notifications@github.com>:

[2017-02-22 21:57] ploxiln commented on #817
In https://github.com/nsqio/nsq/issues/853#issuecomment-280900898 judwhite says "If people prefer to use NSSM there are ways to support that without removing native support" (for nsqd/nsqlookupd running directly as windows services).

I think that would be nice, particularly since other nsq binaries including nsq_to_nsq and nsq_to_file can only run under NSSM / WinSW.

[2017-02-23 21:34] esiqveland commented on #817
The native service support is actually quite nice, but it should be mentioned somewhere that it won't work with other service wrappers because of this.
The logs are an issue though, as you don't get any std* output from these native services.

[2017-02-25 22:13] judwhite commented on #817
@esiqveland We'll tackle the logs for `nsqd` and `nsqlookupd` when running as a Windows Service as part of #853. My experience has been people would prefer to use native support and use NSSM only when it isn't available. Both scenarios can be supported, and that might be a better short term solution since logging may be a longer effort.

@ploxiln You're right about `nsq_to_nsq` and `nsq_to_file`.

[2017-02-27 19:48] mcorb opened #855 "nsqd changes to support IoT usage, avoid data loss"
I am using nsq as a store-and-forward agent for IoT devices that report metrics to a central HTTPS API.

The small devices are offline for periods of time, and need to send back data opportunistically. The power supply is also intermittent.

You can think of the use case as a passenger bus instrumentation, collecting metrics between stops where wifi is available, and the power supply going up and

[2017-02-27 20:16] mcorb commented on #851
Whether or not this bug a JS client issue, it'd be useful to get some clarity on the three available libraries:

- https://github.com/brianc/node-nsqueue
- https://github.com/segmentio/nsq.js
- https://github.com/dudleycarr/nsqjs

`nsqjs` (without dot) seems to introduce a lot of complexity and special cases compared to `node-nsqueue`, while `nsq.js` (with dot) sits somewhere in-between.

Is there

[2017-02-27 21:23] mcorb commented on #855
I found #34 (nsqd: disk-backed deferred queue) and  #376 related to this issue from 2012 and 2014 respectively. Both were closed in favour of #510 and #625. The WAL feature looks like it's on the back-burner.

So it looks like persisting deferred queue is not trivial with the current codebase.

In contrast I'm looking for something simple, and I don't have strong requirements for the semantics of

[2017-03-01 12:52] shenlanse commented on #468
+1

[2017-03-04 20:25] JensRantil opened #857 "Make a new release compiled using a more modern Go compiler"
The [latest release](https://github.com/nsqio/nsq/releases/tag/v0.3.8) was built using Go 1.6. Since then 1.7 and 1.8 have been released in Go mainline. Both [1.7](https://golang.org/doc/go1.7#performance) and [1.8](https://golang.org/doc/go1.8#performance) release notes mentions a bunch of performance improvements which likely would speed up NSQ quite a lot.

I propose that a new release is publi

[2017-03-04 20:27] JensRantil commented on #842
Golang 1.7 and 1.8 both have come with quite a lot of GC improvements. Might be worth trying a newer version of compiler if you are using 0.3.8 release built using Go 1.6. Feel free to track releases with more modern compiler in #857.

[2017-03-05 09:04] JensRantil opened #858 "Missing documentation of public variables, types and functions"
I just started reading the NSQ source code to understand some specific internals. It would be really useful if the public variables, types and functions had a sentence on them what they are responsible for. This would allow anyone to also understand the souce code at a higher level through something `godoc`. What do you think?

[2017-03-05 17:50] JensRantil opened #859 "`nsqd` not sending heartbeats"
**Background:** Just downloaded `nsq` release 0.3.8 for Darwin to test for a potential project. I am new to the project so I apologize if I've missed something crucial here.

**Problem:** When starting `nsqlookupd`, `nsqd` and `nsqadmin`, it looks like `nsqd` stops sending heartbeats to `nsqlookupd` shortly thereafter.

**Steps to recreate:**

 1. Download release 0.3.8 (for Darwin) from Github.

[2017-03-05 18:13] #858 closed

[2017-03-05 18:25] mreiferson commented on #859
I can't reproduce, but I think this could have something to do with the fact that Go 1.6.2 isn't compatible with macOS Sierra, is that the version you're running? I'm on 10.12.3.

I suggest installing NSQ on macOS with `brew` instead.

Since I'm not seeing this, if you're interested in debugging further, you could send `nsqd` a `SIGQUIT` (`CTRL + \`) to get a stack trace and see if there are any d

[2017-03-05 18:25] #859 closed

[2017-03-05 19:19] mreiferson commented on #829
@jehiah should we get this in before we bump next stable?

[2017-03-05 19:23] mreiferson commented on #851
@mcorb I'm 99.99999% sure this issue here is related to client libraries, not `nsqd`, I've left this issue open in the hopes that we would uncover information to confirm that.

My recommendation would be to use `dudlercarr/nsqjs` or `segmentio/nsq.js` which have both seen significant production usage.

[2017-03-05 19:33] mreiferson commented on #855
Hi @mcorb, thanks for the feedback and suggestions.

As you've correctly discovered, the ultimate solution to this problem would be to complete #510 (as implemented by #625). While your proposal might address the issues, the changes don't feel like _generally_ useful additions and would serve as a rather specific stop-gap for this particular use case.

I'm curious about the system's architecture t

[2017-03-05 19:41] JensRantil commented on #859
@mreiferson I am on MacOSX Sierra (10.12.3), too. Just double checking, how did you try to recreate this? Using the release downloadable here on Github, or by building your own binary/`brew`?

That said, I Installed 0.3.8 using `brew` and heartbeat is continuously being submitted now.

I dumped the stacks and you can find them here: https://gist.github.com/JensRantil/2d97bba40ebd9512049b9a8a693fbb

[2017-03-05 19:42] mreiferson commented on #859
@JensRantil I tried both, couldn't reproduce in either 😞. I'll take a look at that gist, thanks!

[2017-03-06 14:44] zegl opened #860 "nsqadmin panics"
`nsqadmin` repeatedly crashes locally on my development machine.

OS: `macOS 10.12.3`
NSQ version: `v0.3.8`

Full output log: https://gist.github.com/zegl/2d96b4597a571c0b4f3e52a6d23ac6f7

Panic log:
[code]

[2017-03-06 15:07] jehiah commented on #860
Go 1.6.x is incompatible with mac OS 10.12; you will need to build nsq yourself in the mean time (we are actively working towards a new release)

[2017-03-06 15:07] #860 closed

[2017-03-07 07:40] zegl commented on #860
Ok, thank you!

[2017-03-08 20:24] blide commented on #733
Any updates?

[2017-03-11 15:42] loadasp opened #861 "how to build NSQ from source code?"
When i tried to build NSQ from source code,like: nsqlookupd in app folder.
The following error occurred:
D:\GoWorkSpace\src\github.com\bitly\nsq\apps\nsqlookupd>go build
nsqlookupd.go:14:2: use of internal package not allowed

How to solve this?My Go version is 1.8

[2017-03-11 19:29] ploxiln commented on #861
What's your `GOPATH` environment variable set to? Is it "D:\GoWorkSpace"? If it's not set, as of 1.8 it defaults to `%USERPROFILE%/go` on windows.

What exact version of the source are you trying to build?

Did you install/update all the dependencies using "gpm"?

see also http://nsq.io/deployment/installing.html#building-from-source

[2017-03-12 03:31] loadasp commented on #861
Yes,the  GOPATH  environment variable is  "D:\GoWorkSpace".
My package management tool is godep。I'm using Windows8.1 and I can't find the windows version for gpm。Is this the problem?
I executed below command in cmd:
go get github.com/kr/godep          (done)
go get github.com/bmizerany/assert               (done)
godep get github.com/bitly/nsq/...       (this command failed with many "use of inter

[2017-03-12 05:25] ploxiln commented on #861
try making a brand new go path and just "go get", something similar to:

[code]

(but translated from bourne shell to windows cmd of course)

[2017-03-12 07:50] loadasp commented on #861
Thanks!That's very helpful.
I'm not really sure what happened.
I followed your advice, executed "go get github.com/nsqio/nsq/apps/nsqlookupd" ,then i can excute go build or other command in apps folder directly.

[2017-03-14 00:48] tejasmanohar opened #862 "NSQ panic'd (ephemeral issue)"
NSQ crashed with this trace. It was fine after the docker image restarted. Unfortunately, I didn't get to capture the full trace :\

Anyhow, I thought it may be helpful anyways...

[code]

[2017-03-14 05:48] ploxiln commented on #862
unfortunately, no, I don't think that's enough to get anything useful out of

(You must have been using the 0.3.8 release?)

[2017-03-15 01:24] #861 closed

[2017-03-21 16:16] promag commented on #387
:+1:

[2017-03-23 16:57] akash3456 opened #863 "Install and Deploy on ubuntu."
Is it possible to see the docs for installing and deploying nsq on a ubuntu OS and can i have link to it please, or should i just go ahead and build it from source on the mac os using brew?

Kind Regards

[2017-03-23 17:26] mreiferson commented on #863
Closing, being discussed on the mailing list.

[2017-03-23 17:26] #863 closed

[2017-03-23 22:35] CodingMinds opened #864 "Binary Releases v1.0.0-compat links broken"
Links of v1.0.0.-compat at http://nsq.io/deployment/installing.html result in `Access Denied` messages.

E.g. https://s3.amazonaws.com/bitly-downloads/nsq/nsq-1.0.0-compat.linux-amd64.go1.8.tar.gz

[code]

[2017-03-23 22:58] mreiferson commented on #864
I forgot to upload these!

[2017-03-23 23:01] mreiferson commented on #864
done, sorry!

[2017-03-23 23:01] #864 closed

[2017-03-23 23:44] tsholmes opened #865 "nsqd: connection closed on receiving a requeue timeout higher than the MaxReqTimeout"
Running on 0.3.8, however the same issue is on 1.0.0.

I believe the correct behavior here should be returning an error to the client, not killing the connection (`protocol.NewClientErr` vs `protocol.NewFatalClientErr`).

https://github.com/nsqio/nsq/blob/fc261f90aa324921f908fb8dbae105cfe5078d08/nsqd/protocol_v2.go#L715-L718

A snippet from logs scoped to one failing client:
[code]

[2017-03-24 00:48] adamweiner opened #866 "apps/to_nsq: panic when --rate is 0 (default)"
I started playing with `1.0.0-compat` today, and ran into a panic with the `to_nsq` utility:
[code]

No issue when `--rate` is set, however:
[code]

Should be an easy fix - PR: https://github.com/nsqio/nsq/pull/867.

[2017-03-24 02:42] #866 closed

[2017-03-24 15:43] mreiferson commented on #865
Hi @tsholmes — this is working as intended. Errors related to a client `IDENTIFY`ing are fatal, because otherwise a consumer would proceed in an unrecoverable and unexpected state.

[2017-03-24 15:46] mreiferson commented on #862
Bummer, thanks for letting us know.

Looking at https://github.com/nsqio/nsq/blob/master/nsqd/protocol_v2.go#L63, it's hard to imagine how that might have panicd other than an OOM situation? Any way to check metrics around that time for that process?

Gonna close this, please reopen if you see this again and are able to capture the whole trace.

[2017-03-24 15:46] #862 closed

[2017-03-24 17:13] tsholmes commented on #865
@mreiferson I'm going to have to disagree, for two reasons.

1. If a client identifies with a `MsgTimeout` that is higher than `MaxMsgTimeout`, it just keeps the default value [1]
2. This error happens not on identify, but on requeue. We are running with a maxInFlight of >1, so there are other messages in flight on this connection that would normally succeed that are dropped when the connection is

[2017-03-24 17:14] mreiferson commented on #865
Ahh, you're right! I misread the logs/description, sorry.

You interested in opening a PR to fix?

[2017-03-24 18:06] tsholmes commented on #865
@mreiferson got one ready in #868

[2017-03-24 18:06] mreiferson commented on #865
😍 thanks! Closing in favor of #868.

[2017-03-24 18:06] #865 closed

[2017-03-28 14:41] vikash-tiwari opened #870 "Documentation is not updated for Discovery."
Api call for discovery (/lookup?topic=XXX) has been changed in NSQ v1.0.0-compact

`Response in NSQ prior to v1.0.0-compact
{
status_code: 200,
status_txt: "OK",
data: {
channels: [ ],
producers: [
{
remote_address: "127.0.0.1:39310",
hostname: "vikash.tiwari",
broadcast_address: "vikash.tiwari",
tcp_port: 4150,
http_port: 4151,
version: "0.3.8"
}
]
}
}`

`Response in NSQ v1.0.0-compact
{
channels

[2017-03-29 02:49] mreiferson commented on #870
can you open this issue on https://github.com/nsqio/nsqio.github.io and point out where the documentation references the old response format?

[2017-03-29 02:49] #870 closed

[2017-03-29 13:10] eshizhan opened #871 "nsqd: deferred messages persistence"
The deferred message is persistence?
My HandleMessage return error, the message should be requeue, and I restart nsqd, the deferred message not be recovered. I missing something?
[code]

[2017-03-29 15:22] mreiferson commented on #871
Hi @eshizhan — this is a known issue, see #34 and ultimately #510.

[2017-03-29 15:22] #871 closed

[2017-03-30 07:38] tttlkkkl opened #872 "nsqd: E_INVALID AUTH invalid number of parameters"
Nsqio/nsqd/protocol_v2.go 502 line. If the number of arguments can only be one, I can't authorize the command successfully.
`	if len(params) != 1 {
		return nil, protocol.NewFatalClientErr(nil, "E_INVALID", "AUTH invalid number of parameters")
	}
 `

[2017-03-30 13:16] jehiah commented on #872
@tttlkkkl can you describe what you are trying to do?

[AUTH](http://nsq.io/clients/tcp_protocol_spec.html#auth) is centered around a single secret value (typically something like an OAuth Access Token).

[2017-03-31 05:50] vikash-tiwari commented on #870
https://github.com/nsqio/nsqio.github.io/issues/17

[2017-03-31 10:19] fzbing opened #875 "a question about NSQD's tcpListener field"
In the source code, `NSQD` struct has three field that is `tcpListener`, `httpListener` and `httpsListener`.

Why need use a `RWMutex` when reading or writing.

Note:
In the source code, only `NSQD.Main` write that three field. So, we first assgin values to that three field, then start the services.

[2017-03-31 14:56] mreiferson commented on #846
done in #874

[2017-03-31 14:56] #846 closed

[2017-03-31 15:01] mreiferson commented on #875
@fzbing I believe the lock is to prevent race conditions in tests

[2017-03-31 15:01] #875 closed

[2017-04-01 02:56] tttlkkkl commented on #872
I would like to do a license before the TCP connection, in accordance with the TCP communication protocol provided by you, AUTH command message format like this：

AUTH\n

[ 4-byte size in bytes ][ N-byte Auth Secret ]

I'm sure I've packed it in the right format, but NSQ is continuing to return error messages. A good proof is that the PUB command and the AUTH command command format are roughly the

[2017-04-01 04:06] jehiah commented on #872
@tttlkkkl can you re-test against version, 1.0 and provide example client code and nsqd configuration to reproduce the error you are seeing?

[2017-04-01 05:46] ploxiln commented on #872
@tttlkkkl it sounds like you are implementing the nsq tcp protocol yourself, from scratch. Before deciding that the problem with AUTH is in nsqd, you should see if the stock go client applications, which use the go-nsq library for the tcp connection to nsqd, can do AUTH correctly. For example, try:

[code]

That works for me with nsqd 1.0.0-compat

[2017-04-02 10:10] tttlkkkl commented on #872
Sorry, after checking, the reason for the error is that I have more than one space in the package. I have achieved my goal, and thank you again for your patience @jehiah @ploxiln

[2017-04-02 10:10] #872 closed

[2017-04-02 11:54] bleakgadfly opened #876 "nsqlookupd/nsqd: TLS on intra-cluster communication"
According to [this email conversation](https://groups.google.com/d/msg/nsq-users/PkkPN9z7gPc/9AuRD3NTZQ0J) NSQ assumes that connections between nsqd and nsqlookupd is on a trusted network. Hence, TLS communication is only possible between clients and nsqd. I'm looking at use cases where nsqd and nsqlookupd would be located on geo-distributed systems where there isn't necessarily any "network secur

[2017-04-02 15:15] langgo commented on #875
@mreiferson Can you provide an example? thanks。

[2017-04-02 19:12] ploxiln commented on #876
An interesting complication is that nsqd connects to nsqlookupd with a binary nsq-specific protocol over TCP, and _also_ makes some http requests to nsqlookupd on the http port. This has been a "would be nice to clean up but no one has cared enough yet" sort of thing.

[2017-04-04 19:58] vikash-tiwari opened #877 "Once A topic is deleted, could not be created."
I follow `getting started` and created a topic and message:
`$ curl -d 'hello world 1' 'http://127.0.0.1:4151/pub?topic=test'`

Now I delete that topic using REST call
`http://localhost:4161/topic/delete?topic=test`

Now I am trying to create the same message on topic `test` again, there is no error but topics is not getting created.

[2017-04-04 20:26] ploxiln commented on #877
This is an intended behavior, to avoid a problem where the topic is accidentally re-created by consumers. See http://nsq.io/components/nsqlookupd.html#deletion_tombstones

[2017-04-05 11:09] lihan commented on #853
Is there an update for this? Having the same issue here, would like to check to avoid double up work. @andyxning @judwhite

[2017-04-05 11:28] andyxning commented on #853
@lihan No work has been done. Hard work :(.
If you have time for adding this feature, I may review it. :)

[2017-04-06 13:29] jehiah opened #879 "nsqd/nsqdmin: introspection of producer connections"
`nsqadmin` does a great job at exposing the consumers on a given topic/channel but there is no way to introspect the producers connected via TCP to a nsqd node.

nsqd should expose a `/producer_stats` endpoint that lists the connections it has that are not subscribe to a topic. It should list the same client information available in `/stats` (tls, remote address, connection time, user_agent, auth,

[2017-04-06 13:44] sparklxb commented on #879
Help wanted?

[2017-04-06 13:44] jehiah commented on #879
@sparklxb if you are interested, that would be super awesome!

[2017-04-06 14:49] mreiferson commented on #879
👍 but why wouldn't this data just be added to `/stats` on `nsqd`?

[2017-04-06 14:51] jehiah commented on #879
Well i'm slightly worried about performance implications of that kitchen sink endpoint for larger topic/channel/client deployments; I'd rather more narrow endpoints, and get to the point of forcing more narrow topic/channel stats queries.

[2017-04-06 16:26] #877 closed

[2017-04-06 16:28] mreiferson commented on #879
Meh, you can already filter by topic/channel although it's unclear how that filtering would interact with producer connections.

[2017-04-08 00:42] dominicbarnes opened #880 "nsq_to_file: log less (or support a "quiet mode")"
Currently, `nsq_to_tail` is logging each time it flushes to disk, which ends up being a lot especially when the nsq topic has a non-trivial volume of data. It would be really great if there were ways to tell `nsq_to_file` to log less frequently. (like, errors only)

I know the internals are just using the golang `log` package, so adding levels like "debug" and such aren't available as a feature th

[2017-04-08 00:48] jehiah commented on #880
@dominicbarnes can you give some context as to your nsq_to_file configuration and volume? How often is the `syncing xxx` logging happening in practice for you?

For some context, I log many high volume datastreams, but i run my nsq_to_file with `--max-in-flight=50000` to flush my gzip stream to disk less often. I end up with this log frequency as a result:

[code]

[2017-04-08 00:57] dominicbarnes commented on #880
I sampled a single second on a single machine, and I saw 50+ logs/second on average. Each had <100 records being flushed to disk. My relevant configuration looks like:

[code]

What config in general impacts how often flushing to disk happens?

[2017-04-08 03:28] jehiah commented on #880
There are two aspects. One is `-max-in-flight 300` combined with the number of connections. It's a little bit of a simplification, but when a single connection reaches it's limit (max-in-flight / number of connections) messages get flushed to avoid issues in situation where the source hosts are imbalanced.

The second is that nsq_to_file will always flush at least once every 30 seconds.

[2017-04-08 06:21] denofiend commented on #842
I use http tcp sdk to communication with nsqd. it is short tcp connection, after pub message success, close tcp connection.

[2017-04-08 06:25] denofiend commented on #842
here is inused heap svg pic:
![stop-world](https://cloud.githubusercontent.com/assets/1941075/24826368/398bb726-1c67-11e7-9e58-b334b42eecd4.png)

[2017-04-08 06:38] denofiend commented on #842
Use  environment additions config：GODEBUG="gctrace=1,gcshrinkstackoff=1",GOGC=1000       ; process environment additions.

Relieve the gc stress, I get gc log:

gc 90 @9430.556s 0%: 0.028+2.1+0.48 ms clock, 0.67+0.14/9.3/17+11 ms cpu, 203->203->19 MB, 213 MB goal, 24 P
gc 91 @9516.017s 0%: 0.021+2.1+0.46 ms clock, 0.51+0.17/8.4/20+11 ms cpu, 203->204->19 MB, 213 MB goal, 24 P
gc 92 @9597.958s 0%:

[2017-04-11 11:22] dunixd opened #882 "nsqd listen on 4151 for http client, but tell lookupd it listen on 80"
There is a group of host that only 22, 80, 443 is opened, and nsqd is supposed to installed on.
Now 80 is used by nginx to proxy all http request, 443 is free. So I don't know if this is possible, nsqd listen on 443 for tcp port and 4151 for http, but it tell lookupd with 80 as http port. And let nginx proxy nsqd's http request properly, maybe after auth. Then other component can query nsqd throug

[2017-04-11 12:56] jehiah commented on #882
You can run any component of nsq on any port you want.
[code]

[2017-04-11 12:56] #882 closed

[2017-04-11 14:57] ploxiln commented on #882
I think @dunixd knows he can make nsqd use a different http port, but he wants it to use listen on port 4151, while reporting that it uses port 80 when it registers with nsqlookupd. Then nsqadmin will make http requests to port 80, and nginx will proxy those requests to nsqd on localhost 4151.

Another way to solve this strange problem, is to run nsqd inside a container (e.g. with docker). It can

[2017-04-11 15:18] ploxiln commented on #882
As a shorter explanation: he wants BroadcastHttpPort, which does for the port what BroadcastAddress does for the address - give the port/address to be used from other servers to contact this process, through port/address mappings.

[2017-04-11 15:42] dunixd commented on #882
@ploxiln what you described is exactly what I want!
As I know, nsqd's AUTH will not check http request, maybe then it is too busy for the auth service.
But if nsqd is behind nginx by the BroadcastHttpPort, then auth for the http is possible.
Otherwise it is easy to modify data through http request if port is opened, or not so convenient if not expose http port.

[2017-04-12 13:00] dunixd commented on #882
Will you consider to add such a param in the future?

[2017-04-13 00:41] ploxiln commented on #851
If In-Flight and Ready are both zero, then no messages will be received by that client connection, even though it is connected. @ceejbot in your case this is the problem, all zeros.

If the `max_in_flight` option passed to the client library is less than the number of nsqd that have the topic, then in order to guarantee that maximum is not exceeded, the client library will have to send a zero Read

[2017-04-13 00:47] ploxiln commented on #851
The `max_in_flight` option is what you want to set. It's an important knob for performance anyway. For a single client, the sum of "In Flight" and "Ready Count" across all of its connections to different nsqd will generally add up to `max_in_flight`.

[2017-04-15 17:59] mreiferson opened #883 "nsqd: ephemeral channel race condition with reconnecting client"
It's possible for a client reconnecting quickly and subscribed to an ephemeral channel to race with `nsqd`'s cleanup of said ephemeral channel, as documented in https://github.com/nsqio/go-nsq/issues/206.

[2017-04-16 03:25] luodw opened #884 "what the RDY flag mean?"
why i can not see the RDY decrement every time nsqd sends a message to client in the code?

[2017-04-16 05:54] ploxiln commented on #884
Instead, `InFlightCount` is incremented and compared to `ReadyCount`
https://github.com/nsqio/nsq/blob/master/nsqd/client_v2.go#L311

[2017-04-16 10:47] luodw commented on #884
thank you ! I got it

[2017-04-16 13:49] #884 closed

[2017-04-16 13:49] sparklxb opened #885 "Why are map deferredMessages and inFlightMessages necessary?"
I notice there are TODO marks in [channel.go](https://github.com/nsqio/nsq/blob/master/nsqd/channel.go#L482) and try to make some contribution. But with deeper insight, I get confused why they are necessary. In other word, In what conditions will items in deferredPQ/inFlightPQ be missed or duplicated?

[2017-04-16 21:12] mreiferson commented on #885
This is probably out of date as the Go runtime/map implementation has improved significantly since that comment was written.

The comment can _probably_ be safely removed and before we do any performance work should profile the application with the latest version of Go to identify any opportunities.

[2017-04-16 21:12] #885 closed

[2017-04-16 22:10] mreiferson commented on #851
Finally addressing this in https://github.com/nsqio/go-nsq/pull/208, obviously other client libraries will need to adopt this approach if it lands (I'll likely handle `pynsq`).

Also, there hasn't been evidence here that this is an `nsqd` issue, so I'm going to close this.

[2017-04-16 22:10] #851 closed

[2017-04-16 22:14] mreiferson commented on #842
@denofiend can you try your original test on the [latest release of NSQ (`v1.0.0-compat`)](https://github.com/nsqio/nsq/releases/tag/v1.0.0-compat), which has been compiled with go1.8, and see if it's reproducible?

[2017-04-17 11:14] absolute8511 opened #887 "Add some great features for the NSQ and maybe merge to master"
NSQ is great for most usage and we are using it for a long time. However, there are some important features we need eagerly. So we redesigned the NSQ to add some features we need. The main features are:

- Replication and High Availibility
- Auto balance and migrate
- Delivery the messages in Order
- Consume history messages
- Dynamic Log level and more detail logs
- More stats in the nsqadmin
- P

[2017-04-17 17:21] mreiferson commented on #883
see #886

[2017-04-17 17:21] #883 closed

[2017-04-17 18:17] ploxiln commented on #887
Merging back in to this project would have to be done one feature at a time. And as you say, it'll be a lot of work - not just because of merge conflicts, but also because of design review and revision.

It appears that you've integrated etcd into your fork - that's something we've thought about. Can you describe how your fork uses it exactly?

[2017-04-17 18:32] mreiferson commented on #887
Wow, thanks, this is great!

In a similar vein to @ploxiln's comments, I would love to start by reading some design and architecture docs to better understand _how_ you've accomplished all of this. After that, we can decide what makes the most sense in terms of merging it into mainline.

[2017-04-18 20:28] ploxiln commented on #887
looks like the document useful for English speakers is this one: https://github.com/absolute8511/nsq/blob/master/doc/NSQ-redesigned-details.pdf

One of the big changes is to use a shared file-based queue for all channels. That's similar to the stalled effort in #625 - so that is indeed a topic we're interested in. Can you summarize how requeued messages and deferred-published messages are handled?

[2017-04-19 02:50] absolute8511 commented on #887
For the requeue, we have 2 strategy currently, first is put back to the requeued channel and second is put back to the end of the file. So for deferred-publish or deferred-req we may lead to imprecise for the time deferred. This issue for imprecise defer can not be avoided while lots of deferred messages. The priority queue in NSQ for deferred messages is not enough if too much deferred, so we are

[2017-04-19 03:36] ploxiln commented on #887
ah, partitions, reminds me of Kafka

[2017-04-20 21:51] shinzui commented on #887
This is really exciting. I hope this work could make its way back to the main project.

[2017-04-21 00:41] IEEE756 opened #889 ""ERROR: failed to decode JSON - Unexpected token in JSON at position 158""
When I open my nsqadmin control panal and open one of my topic , something appears like "ERROR: failed to decode JSON - Unexpected token in JSON at position 158", please help..

[2017-04-21 01:02] ploxiln commented on #889
we'll need to see logging output from nsqadmin in order to help figure this out

[2017-04-21 01:16] IEEE756 commented on #889
@ploxiln  Hello, something shows as "

Apr 21 09:14:48 fanqiang nsqadmin: Get http://pangxie:4151/stats?format=json: dial tcp: lookup pangxie on 208.67.222.222:53: no such host
Apr 21 09:14:48 fanqiang nsqadmin: Get http://xiaoqiang:4151/stats?format=json: dial tcp: lookup xiaoqiang on 208.67.222.222:53: no such host
Apr 21 09:14:48 fanqiang nsqadmin: Get http://fanqiang:4151/stats?format=json: di

[2017-04-21 01:17] IEEE756 commented on #889
Apr 21 09:14:48 fanqiang nsqadmin: [nsqadmin] 2017/04/21 09:14:48.716632 **502 GET /api/counter (114.221.16.213:61097)** 11.778933ms

[2017-04-21 01:23] ploxiln commented on #889
... we'll need to see the lines before that one.

Also, please use a fenced code block when pasting multiple log lines or terminal output or code - see https://help.github.com/articles/creating-and-highlighting-code-blocks/

[2017-04-21 01:39] IEEE756 commented on #889
Hello ,

`Apr 21 09:31:48 fanqiang nsqadmin: [nsqadmin] 2017/04/21 09:31:48.268221 CI: querying nsqd http://zliuyang:4151/stats?format=json
Apr 21 09:31:48 fanqiang nsqadmin: [nsqadmin] 2017/04/21 09:31:48.268248 CI: querying nsqd http://stone04:4151/stats?format=json
Apr 21 09:31:48 fanqiang nsqadmin: [nsqadmin] 2017/04/21 09:31:48.268283 CI: querying nsqd http://zeiwang:4151/stats?format=json
Ap

[2017-04-21 01:50] ploxiln commented on #889
for fenced code blocks, the "```" needs to be on its own line, like this:

[code]

Anyway, the problem is that nsqadmin can't connect to any of your nsqd, because they report the hostname of the server they are running on as the "broadcast address" (to nsqlookupd), but those hostnames are cannot really be resolved by the server running nsqadmin. So you need to run all those nsqd processes with the

[2017-04-21 02:06] IEEE756 commented on #889
It works , you are very professional, very thanks ..

[2017-04-21 02:12] #889 closed

[2017-04-21 02:54] absolute8511 commented on #887
Yeah, I think the first thing need to be done is: every message should be written to the disk file without involving the channel overflow to disk.

[2017-04-22 00:09] james-lawrence opened #890 "durable restart/reload?"
is there a safe way to restart a nsq process? didn't see any mention of this in the documentation.

[2017-04-22 00:43] ploxiln commented on #890
If you send nsqd `SIGINT` or `SIGTERM` it will save messages which are in each channel's memory-queue to disk, as well as in-flight and deferred messages. When it starts up again these messages will be loaded back into the appropriate topic memory-queue.

You're right, I can't easily find anywhere this is stated in the documentation.

[2017-04-22 22:56] mreiferson commented on #890
going to update this issue to reflect the need for doc updates, thanks.

[2017-04-22 23:03] mreiferson commented on #887
I agree with this as a pre-requisite. Have you reviewed the work in #625?

[2017-04-25 03:07] absolute8511 commented on #887
After reviewed the changes, I noticed that WAL is added for each topic. In my redesigned solution, I tried to make the least changes. Since the topic disk file has all the data for message, I treated the disk file as the WAL itself. So what I did is just remove the code handling channel overflow to disk.

[2017-05-08 04:31] lihan commented on #887
@absolute8511 "Dynamic Log level and more detail logs" Possible to submit a separate branch to address this one? It would be way quicker to merge smaller set over the time than a big chunk.

[2017-05-14 14:43] shinzui opened #893 "Status of the project"
I am a big fan of NSQ but I've switched to SNS/SQS when we converted our app to microservices since we didn't want to worry about data loss. I've been anxiously monitoring #510 ever since hoping to be able to switch back since NSQ offers a much better developer experience.

I'm really curious if people are still heavily using NSQ in production, I've seen companies like segment move away from NSQ r

[2017-05-15 03:14] ploxiln commented on #893
Development has been relatively slow over the past year, but it is not at a stand-still, and @mreiferson is not the only one landing changes. For example, from a few days ago: 1e1720f25e09cbcc3385dd5e0475f4c1b2649f9e ... or a couple weeks ago: 0743177ae570ba5b852ed8226edee6fe8d361e2a

There are still some significant users, including at least Bitly and Buzzfeed.

I don't think there are any major

[2017-05-16 10:52] checkraise opened #894 "nsqd/pynsq: Channels don't receive messages"
Steps:

1. Creating a topic
2. Publishing some messages to the topic
3. Creating several channels
4. Reading simultaneously from all of these channels, handling messages asynchronously, then sending FIN for handled messages

What I expect: if I published N messages to the topic, then each channel should receive these N messages.

What really happens: only one channel receives all messages, other c

[2017-05-16 14:53] jehiah commented on #894
@checkraise Can you provide logs from your client and `nsqd` and possibly a script that can help us reproduce this?

I would also suggest using nsqadmin to get visibility of what the topic/channel topology and metrics are. Can you post a screenshot from nsqadmin between each of the steps you listed?

[2017-05-16 16:37] mreiferson commented on #894
I think this is "working as intended".

If you want all channels to receive all messages for a topic before anything exists, you need to create the topic and channels up front, before publishing messages.

By doing (2) before (3) you'd see the behavior you've documented.

[2017-05-16 16:37] #894 closed

[2017-05-17 13:42] keaixiaou opened #895 "nsqd error not found"
i use brew to install nsq in mac
when i do 【curl -d 'hello world' 'http://127.0.0.1:4151/put?topic=demo'】 this step ,it return 【{"message":"NOT_FOUND"}】, and nsqd shows 【404 POST /put?topic=demo (127.0.0.1:51524) 465ns】how should i do ?
my mac version is 10.12.2 (16C67)
and i see when nsqd start up ,it shows 【ERROR: no available nsqlookupd to query for channels to pre-create for topic test】

[2017-05-17 14:10] jehiah commented on #895
@keaixiaou the correct API endpoint for the current nsqd version is `/pub` not `/put`.

http://nsq.io/components/nsqd.html#post-pub

[2017-05-17 14:10] #895 closed

[2017-05-17 14:30] keaixiaou commented on #895
ok ,thanks!

[2017-05-17 21:16] shinzui commented on #893
@ploxiln Does that mean that I shouldn't expect #510 to be completed, nor #887 to be merged?

[2017-05-17 21:35] ploxiln commented on #893
I haven't seen any significant movement recently on #510 or #887 and I don't think there will be any in the near future. "Movement" would need people interested in a particular feature to open their own pull request, and refine it until it can be accepted.

#510 seems to be a prerequisite for adding some features from the fork mentioned in #887, and I think there is a reasonable chance of progress

[2017-05-17 21:54] shinzui commented on #893
Thanks.

[2017-05-17 21:54] #893 closed

[2017-05-17 22:17] mreiferson commented on #893
I'll add my thoughts.

First, thanks for reaching out. The project is far from dead. We still meticulously triage incoming issues and respond to questions across GitHub, Slack, Twitter, and Google Groups. I continue to personally use it in production, as do many others.

What we've tried to do recently is clean up some loose ends and confidently stamp NSQ 1.0 as a stable piece of software with the

[2017-05-18 14:28] shinzui commented on #893
@mreiferson Thank you for the very sensible answer. I agree that #887 is too big to be merged. It would have been ideal if it was initially started as a series of pull requests instead of a fork. I'm wondering if something could be done to solicit contributions in order to move the project forward, assuming that's something you're interested in. Your answer gives a lot of clarity to the status of

[2017-05-18 17:51] mreiferson commented on #880
Looks like #892 will land soon and we can apply the same to the other utility applications.

[2017-05-18 17:52] mreiferson commented on #853
ping #892 for an initial set of changes that relate to this

[2017-05-18 17:53] mreiferson commented on #798
will be fixed in #892, closing

[2017-05-18 17:53] #798 closed

[2017-05-18 17:58] mreiferson commented on #887
This is now happening in #892. Please review if you haven't already.

@absolute8511 I see. How did you implement independent per-channel "cursors" on top of the diskqueue though? That's basically the reason why I wrote and used [mreiferson/wal](https://github.com/mreiferson/wal).

Agreed, my assumption is that the on-disk structure will need to change to support these kinds of features.

[2017-05-18 18:01] mreiferson commented on #887
@absolute8511 taking a step back, how do you propose we begin the process of discussing design and architecture? Assuming we reach consensus on those things, we can then discuss implementation details and roadmap.

[2017-05-19 02:49] absolute8511 commented on #887
@mreiferson  channel cursor has the fileNum of the disk file and the offset of the disk file. And while a message read from file, we fill the offset and the occupied size in the message meta.

I am a little busy recently, and I am still preparing some technical articles on the redesigned NSQ. I think we can begin the merge discussion after I finished these design documents.

ps: the first overview

[2017-05-19 11:02] dimaqq commented on #855
@mcorb ~5 years ago I dealt with exact same problem, where user-mode code used sqlite.
Ultimately, it turned out that no production ready file-systems were good enough, as sqlite (with or without WAL) writes to same place on each transaction (typ. 3 or 4 times), and standard filesystems (ext, xfs, etc.) map that to exact same block on the disk.

The system solution would be to use a log-structured

[2017-05-23 00:27] JakeXu opened #899 "docs: e2e_processing_latency_percentiles settings"
From the github, I found the "ndsq.cfg.example", it wrote like this:
## message processing time percentiles to keep track of (float)
e2e_processing_latency_percentiles = [
    100.0,
    99.0,
    95.0
]

But, on the official document, Command Line Options describe:
-e2e-processing-latency-percentile value
    message processing time percentiles (as float (0, 1.0]) to track (can be specified multi

[2017-05-23 03:52] ploxiln commented on #899
Both are correct. If you set this in the config file, you use an array. If you set this with a command-line flag, you use commas.

https://github.com/nsqio/nsq/blob/master/nsqd/options.go#L64
https://github.com/mreiferson/go-options/blob/master/options.go#L192

[2017-05-23 13:25] jehiah commented on #899
@ploxiln I think the question here is are the values in the range `0, 1.0` or `0, 100`

[2017-05-23 16:31] ploxiln commented on #899
Ah, that is a good question. I had to hunt all the way into https://github.com/bmizerany/perks/ to be sure. Each value needs to be in the range `(0,1.0)` (note that this is not inclusive of 1.0, there's a `/ (1 - q)` in bmizerany/perks).

I'm also not sure if the command-line flag actually works, it doesn't look like it copies the percentiles option to `opts`:

[code]

[2017-05-25 00:24] ploxiln commented on #899
I take back that bit about not being sure the command-line flag works, go-options gets the reference from the flagSet Var.

Anyway, a documentation/examples update should be sufficient to resolve this issue.

[2017-05-31 08:43] aslackers opened #900 "nsqd:FATAL: --data-path=/usr/local/nsq/bin in use (possibly by another instance of nsqd"
excuse me for my bad english.
my nsq directory is /usr/local/nsq, start first nsqd:
`$ pwd`
`/usr/local/nsq/bin`
`$ ./nsqd --lookupd-tcp-address=127.0.0.1:4160`

then, start second nsqd:
`$ ./nsqd -worker-id=857 --lookupd-tcp-address=127.0.0.1:4160 -http-address=0.0.0.0:4251 -tcp-address=0.0.0.0:4250`
`[nsqd] 2017/05/31 14:37:36.882455 FATAL: --data-path=/usr/local/nsq/bin in use (possibly by anot

[2017-05-31 08:50] #900 closed

[2017-05-31 14:18] mreiferson commented on #795
addressed in nsqio/nsqio.github.io#21

[2017-05-31 14:18] #795 closed

[2017-06-02 18:26] brighthero opened #901 "Is this an alternative to Kafka?"
Is this project supposed to be a alternative to Apache's Kafka?

[2017-06-02 19:35] ploxiln commented on #901
This project originated around the same time. It's simpler, but also less feature-ful. It's different. Some people like it.

If you're familiar with Kafka, but not with NSQ, you can read an overview of what NSQ does here: http://nsq.io/overview/design.html

[2017-06-02 19:46] #901 closed

[2017-06-03 09:22] wangligang opened #902 "./bench.sh failed"
when i use ./bench.sh . it will report:
nsqd.go:19:9: use of internal package not allowed
nsqd.go:20:9: use of internal package not allowed
go version:go version go1.8 darwin/amd64

[2017-06-03 14:46] ploxiln commented on #902
The nsq repo must be in the correct place in your `$GOPATH` e.g. `$GOPATH/src/github.com/nsqio/nsq`. You also have to use `gpm` to install the dependencies needed. See http://nsq.io/deployment/installing.html#building-from-source

[2017-06-03 15:31] #902 closed

[2017-06-05 13:36] dm03514 opened #904 "nsqd: dogstatsd support with generic tagged metrics"
[Dogstatsd](http://docs.datadoghq.com/guides/dogstatsd/) is a superset of statsd which supports tagging metrics.  Tagging metrics allow for more generic metric names with specific values being differentiated by tags.

For example in the [`message_count`](https://github.com/nsqio/nsq/blob/master/nsqd/statsd.go#L81) metric the metric is specific to the topic name and channel name `"topic.%s.channel.

[2017-06-05 14:58] mreiferson commented on #904
Thanks for the question.

I wrote https://github.com/mreiferson/ddstatsd to handle the translation of dot-namespaced to native datadog tags. It's unlikely we'll build in direct support for datadog into nsq.

[2017-06-05 15:35] dm03514 commented on #904
@mreiferson if I contribute the feature you wouldn't be open to incorporating it in the project?

[2017-06-05 15:37] mreiferson commented on #904
Open to hear what @jehiah and @ploxiln think, but I don't think we should be directly integrating with enterprise vendor-specific protocols.

[2017-06-05 15:38] dm03514 commented on #904
Ah, sorry, didn't think of it that way :p

[2017-06-05 19:04] ploxiln commented on #904
Agreed, but I'd be somewhat open to a datadog output module, if we had a more modular/pluggable stats interface and e.g. an influxdb output module as well. So, if it was an optional module among  a few others, that didn't affect the core code, and which we would classify as "contrib" and "not really supported", I would be OK with it.

[2017-06-06 12:33] dm03514 commented on #904
Is this a good forum to discuss the contrib architecture and how it fits in with nsq core? My employer is a pretty large user of NSQ and I would love to contribute something!

[2017-06-06 15:18] mreiferson commented on #904
Sure, I'll re-open.

[2017-06-06 15:18] mreiferson commented on #904
Thanks for your interest 😍

[2017-06-06 15:27] ploxiln commented on #904
I should clarify that there is not yet a "contrib" architecture. What I meant was just a modular  architecture for stats exporting in which (eventually) one module could be less "maintained". (Also, that was just my opinion.)

But, it is definitely possible to contribute to nsq without any "contrib" classification or architecture! It just requires finding a good fit between what you need and have

[2017-06-06 16:49] ploxiln commented on #904
... I think @mreiferson thought you might be interested in trying to write this "modular stats export" architecture. And see also an analogous issue for nsqadmin: #732

[2017-06-06 17:08] dm03514 commented on #904
Ah I read #732, def interested in what a modular stats architecture may look like, or ways to decouple it from core.  We have workarounds where we query for nsq statsd metrics and tag them using a generic metric using dogstats tags and @mreiferson ddstatsd utility looks like it fulfills the requirements, but we already have a pretty large nsqd deployment, and if it's possible for nsqd to generate

[2017-06-06 18:00] ploxiln commented on #904
I don't think we would want separate repositories or separate plugin libraries/files, I think we would prefer these "modules" to be in this repo and compiled into nsqd / nsqadmin. The idea is for the code for them to be relatively isolated and with a relatively simple and generic interface. There's an example of what I mean in how https://github.com/bitly/oauth2_proxy handles the various providers

[2017-06-06 19:38] dm03514 commented on #904
Would contrib modules only have access to nsqd public methods? or would they have access to private ones too? It looks like statsd and dogstats poll `NSQD.GetStats()`, would that hold up for other contrib modules?? Could they be passed the instance of `*NSQD`? and poll it however they want?   If that's possible would a contrib logger have to be created?

Also would contrib modules have to define t

[2017-06-09 05:55] zouyee opened #906 "*:struct field tag `json:'version'` not compatible with reflect.StructTag.Get: bad syntax for struct tag value (vet)"
when using  `go vet`,I got much errors.such as
`struct field tag `json:'version'` not compatible with reflect.StructTag.Get: bad syntax for struct tag value (vet)`

[2017-06-09 15:37] #906 closed

[2017-06-14 08:49] AlexiaChen opened #908 "Does nsq support push message by IP group, Department ?"
I want to broadcast message from server to client by specific "segment", such as, department in company and IPs.    I read all the most documents about NSQ and doest not find anything useful feature for my needs.

Does anyone have  solution to solve this ? Thank you.

[2017-06-14 14:57] ploxiln commented on #908
You'll have to come up with a scheme that uses topics and channels to achieve what you want. You could write a consumer/reader application that filters the messages from a topic by some property, and sends them to a new topic, or to some other system. It's also possible that NSQ is not optimal for your use case.

[2017-06-15 09:56] AlexiaChen commented on #908
@ploxiln    Thx,  maybe I will consider use ActiveMQ instead.

[2017-06-15 17:14] #908 closed

[2017-06-20 06:06] duyue9522 opened #910 "nsqd: panic: runtime error: invalid memory address or nil pointer dereference"
hi,
  when i use nsqd --statsd-address=... post data to statsd/Graphite  , the problem happend，my environment is :
[code]
[code]

[2017-06-20 15:33] mreiferson commented on #910
I think this is a real bug, the line is obviously dereferencing a null pointer. But I'm really confused why this hasn't shown up before?

[2017-06-20 15:34] ploxiln commented on #910
Hmm it's hard to see how that line could panic:
https://github.com/nsqio/nsq/blob/v0.3.8/nsqd/statsd.go#L126

[code]

(it's the same in 1.0.0-compat but moved in master)

[2017-06-20 15:36] mreiferson commented on #910
I imagine it's this line: https://github.com/nsqio/nsq/blob/master/nsqd/statsd.go#L126

Where on the first run, `lastMemStats` is `nil`.

[2017-06-20 15:38] ploxiln commented on #910
so probably not "nsqd version 0.38" you recon ...

[2017-06-21 16:52] mreiferson commented on #910
see #911

[2017-06-21 16:52] #910 closed

[2017-06-23 20:26] jehiah commented on #753
I appear to have stumbled upon another case of this in production. with version `1.0.0-alpha+build.7.ea01a579`

The general situation is that given 10 servers, this happens where only one nsqd has a an extra channel. It's reported and returned properly from every nsqlookupd, and returned properly from the individual nsqd stats endpoints. Nsqadmin also properly queries the nsqd node with the odd ch

[2017-06-25 22:15] mreiferson commented on #753
@jehiah so you think this is a bug in `nsqadmin` query/parsing/aggregation or the frontend displaying the results?

[2017-06-25 22:51] jehiah commented on #753
I think it's a nsqadmin aggregation bug. I suspect the aggregation somehow only returns items that are in the first nsq stats output it parses.

Unfortunately I forgot to capture the matching nsqadmin API output.

[2017-06-26 15:07] mreiferson commented on #753
@jehiah you intend to take this one?

[2017-06-26 18:29] jehiah commented on #753
not immediately

[2017-07-02 13:07] Somesh commented on #767
May be try running the binary from its path.

`which nsqd`
in my case it was located at `/usr/local/bin/nsqd`

and then
`nsqd --lookupd-tcp-address=127.0.0.1:4160`

[2017-07-02 13:50] judwhite commented on #767
@Somesh @jchauncey

You can also use the `--data-path` arg of `nsqd`:

[code]

[2017-07-04 16:34] kant111 commented on #728
Same error here And it happens a lot.

[2017-07-10 14:15] Thermi opened #913 "nsqlookupd discovery"
Hello,

As far as I could read in the documentation, nsqd processes are supposed to register themselves with a nsqlookupd process. How do nsqlookupd processes discover each other? I need to run a fault tolerant (HA) architecture with nsq, so every nsqlookup process needs to have the same information. Is that possible? I didn't find an argument in the nsqlookupd documentation that enables one to sp

[2017-07-10 15:05] Thermi commented on #913
Nvm, found some information on the [**topology patterns** page](http://nsq.io/deployment/topology_patterns.html):
[code]
That should be in the documentation for nsqlookupd, too.

[2017-07-10 15:05] #913 closed

[2017-07-22 06:46] liuyuqiang opened #915 "nsqadmin: error installing node-sass"
[code]

[2017-07-22 17:43] ploxiln commented on #915
Please use [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) for terminal output to make it more readable.

The problem seems to be that the version of node-sass, which is required by the version of gulp-sass, which is specified in nsqadmin's package.json, is too old for your version of nodejs. The ABI numbers of pre-built artifacts on github only go up

[2017-07-25 02:49] liuyuqiang commented on #915
node-sass 3.13.1 works with node 7 but not with node 8.  nsqadmin only run node 7 .

[2017-07-25 02:49] #915 closed

[2017-07-25 03:49] liuyuqiang opened #917 "nsqadmin: E2E Processing Latency image broken"
Topic Message Queue  , Channel Message Queues  and  Channel -  E2E Processing Latency  image always show no data.

http://192.168.56.199:12222/render?colorList=blue&amp;height=20&amp;width=120&amp;hideGrid=true&amp;hideLegend=true&amp;hideAxes=true&amp;bgcolor=ff000000&amp;fgcolor=black&amp;margin=0&amp;yMin=0&amp;lineMode=connected&amp;drawNullAsZero=false&amp;from=-1h&amp;until=-1min&amp;target[

[2017-07-27 13:27] jinhailang opened #920 "nsqd: /stats is slow for large deployments"
hello:

I have a question. When too many clients (less than a thousand) to connect to the NSQ service, nsqadmin web will slowly (It may take more than a minute), and may timeout failed.

![image 1](https://user-images.githubusercontent.com/5457063/28672272-e17b2c72-7311-11e7-9215-f9e4865000c8.png)

When NSQD processing "/stats" request , the CPU will rise suddenly：

normal：
<img width="589" alt="2

[2017-07-27 18:52] ploxiln commented on #920
Roughly  how many topics, channels, and consumers per channel do you have? What version of nsqd/nsqadmin are you running, 1.0.0-compat?

[2017-07-28 01:52] jinhailang commented on #920
I have 4 topics, about 100 channels, Each channel has 4 to 5 consumers.

<img width="1211" alt="2017-07-28 09 48 44" src="https://user-images.githubusercontent.com/5457063/28699141-700ae4d8-737a-11e7-81bf-efc012ac0fbc.png">

[2017-07-28 08:27] girishramnani commented on #920
Hi,
I would like to contribute to this.
One of the possible solution can be to allow the user to pass a query parameter "topic" which takes
a regex as a value, eg: "/stats?topic=hello*" will show stats for topics which start with "hello".

Any suggestions?

[2017-07-28 10:48] jinhailang commented on #920
API has been allowed the user to pass a query parameter "topic" which takes a value, but `GetStats` function is not used.
https://github.com/nsqio/nsq/blob/6c64ce0d958a844106715cfaf52d7bd8ceef4af6/nsqd/http.go#L470

[2017-07-28 11:09] girishramnani commented on #920
So here, the stats for all topics are collected and then the topic if given is filtered. Just as an optimization what if stats of only the specified topics are fetched. Would that help?

[2017-07-28 13:11] jinhailang commented on #920
Yes, I think it would be much faster,.

[2017-07-28 13:12] girishramnani commented on #920
ok, I will work on that then.

[2017-07-28 22:50] mreiferson commented on #920
At some point we improved the locking semantics of getstats, but that wouldn't necessarily improve the raw performance of large deployments.

If `nsqadmin` is querying inefficiently, +1 to improving that @girishramnani.

[2017-07-28 22:52] mreiferson commented on #917
@liuyuqiang thanks for reporting this issue.

You can see in the URL (`topic..e2e_processing_latency_95`) that for some reason the topic is empty.

What version of NSQ are you running? Can you supply the command line arguments you're using to configure it (or the config file)?

[2017-08-02 08:55] halleystar opened #923 "the accomplish about the defaultID"
**defaultID := int64(crc32.ChecksumIEEE(h.Sum(nil)) % 1024)**

I want to know why the defaultID generate by this method and the result is  0 ~ 1024 so why the type is **int64**

[2017-08-02 14:55] ploxiln commented on #923
This is because the nsqd defaultID is used as the nodeID in `nsqd/guid.go`, and is then used as a component (via "bitwise or") of an int64 guid for a message.

defaultID / Options.ID could be a smaller type, but it would not really help anything. There are very few instances of it and it is rarely copied around.

[2017-08-02 14:55] #923 closed

[2017-08-02 21:22] ploxiln commented on #920
So there's two things:

  * nsqadmin does not use the "topic=?" param when getting stats for a particular topic
  * nsqd gets stats for all topics, then if "topic" was specified trims to only that topic

Just having nsqadmin use the "topic" param could help a noticeable amount - it's possible nsq spends a lot of time serializing json and sending it, for huge stats responses. That work is saved by

[2017-08-03 02:46] halleystar commented on #923
what's  the reason that to use the crc32

[2017-08-03 02:51] ploxiln commented on #923
just a cheap pseudo-random hash, so a particular hostname always generates the same number for nodeID

[2017-08-03 02:52] ploxiln commented on #923
(but a slightly different hostname, eg nsqhost01 vs nsqhost02, generates a different number for nodeID)

[2017-08-03 04:31] girishramnani commented on #920
Yeah,. I will submit a PR by this weekend.

On Aug 3, 2017 2:52 AM, "Pierce Lopez" <notifications@github.com> wrote:

[2017-08-03 06:22] halleystar commented on #923
oh! thanks

[2017-08-04 14:58] joeblew99 opened #924 "Sse"
I would like to publish events out as server side events. It seems a very logical approach for a message queue and am surprised it's not implemented.

I know edge does not support it but there is a polyfill for it.

So I was wondering if this is a useful addition ?

SSE is also a rather simple and well done protocol in golang so I expect it will be easy to do

[2017-08-07 16:03] dentm42 commented on #876
One method I've contemplated to resolve this is using autossh and ssh port forwarding. I use this successfully in other scenarios to set up a pseudo-vpn with low overhead and fairly easy administration.  Anybody tried with NSQ (I'm just starting an implementation, will update with any gotchas I run across.)

[2017-08-08 03:16] jinhailang commented on #920
@ploxiln @girishramnani Thank you！I tried to change it.

PR: https://github.com/nsqio/nsq/pull/925

However, when the request is large, the client is connected too much, gets stats is still too slow.
I think it is `getstats` caused by the use of the `lock`, the use of `chan` will be better.

[2017-08-14 03:53] DoraALin opened #926 "deflate level specified from client lib in IDENTIFY not work"
Greetings,
Upon identify with specified deflate level, nsqd does not accept it but using max deflate level in option.

in IDENTIFY(), identifyData.Deflate does not used to decide the deflate level, is it a bug here?
line #396, protocol_v2.go
`deflate := p.ctx.nsqd.getOpts().DeflateEnabled && identifyData.Deflate
	deflateLevel := 0
	if deflate {
		if identifyData.DeflateLevel <= 0 {
			deflateLevel

[2017-08-14 04:05] jehiah opened #927 "nsqd: fix deflate level handling"
This fixes #926 by properly using the client provided deflate level from identify

[2017-08-14 23:35] mreiferson commented on #926
see #927

[2017-08-14 23:35] #926 closed

[2017-08-18 16:46] mreiferson commented on #924
@joeblew99 in order to support this, you would write an edge API that speaks SSE and then that would publish to `nsqd` via HTTP or NSQ's native protocol. Closing.

[2017-08-18 16:46] #924 closed

[2017-08-18 21:06] jxskiss opened #930 "nsq_to_file: --topic-pattern causes connection leaks"
When giving --topic-pattern argument, nsq_to_file create new connection to lookupd every "topicPollRate".

With about 10 topics in my deployment, I use --topic-pattern=".*" to archive messages, after about one day, the log file begins to be filled with "too many open files" errors.

"lsof | grep nsq_to_f" shows there are bunch of connections from nsq_to_file to lookupd servers.

I guess the proble

[2017-08-23 15:36] jxskiss commented on #930
Is there some other guys using the nsq_to_file utility?

[2017-08-23 16:08] ploxiln commented on #930
Yes, it is commonly used for "archiving" a topic, but I suspect that heavy/core nsq users use it only for one topic at a time (a separate process for separate topics), instead of using `--topic-pattern`.

[2017-08-25 04:11] arduanov commented on #716
I'm affected this bug, about once a day nsq_to_file produces malformed gzip file.
Start parameters:
[code]

[2017-08-26 07:52] jxskiss commented on #930
Thanks for the confirmation. Since each topic's messages are written to seperate files, the --topic-pattern is very convenient for archiving all topic or some selected topic in situation where workload is not that heavy.

[2017-08-26 18:23] mreiferson commented on #930
@jxskiss thanks for the bug report, are you interested in submitting a PR to fix this?

[2017-08-26 18:24] mreiferson commented on #716
@arduanov can you provide any additional information beyond what's already been discussed in #677?

[2017-08-27 00:52] jxskiss commented on #930
@mreiferson Glad to do this, I will submit a PR as soon as possible.

[2017-08-27 15:31] mreiferson commented on #930
thanks! see #935

[2017-08-27 15:31] #930 closed

[2017-08-29 20:58] djmally opened #938 "nsqd: many zero-size .tmp files on disk"
nsqd is creating numerous files like `xyz.diskqueue.meta.dat.some_number.tmp`on disk, all of which have zero size. On one of my production machines, there are ~3000 of these files, all of which are 0 bytes in size, and have persisted for the last 10 days or so.

It's not clear to me where these files come from, what their purpose is, or how they get deleted, but it seems problematic to me that so

[2017-08-29 21:15] ploxiln commented on #938
The `*.tmp` files are supposed to be immediately renamed over the `*.dat` files, they should not be left lying around. Are there any error messages in your nsqd logs? Something like `DISKQUEUE(...) failed to sync - ...`?

[2017-08-29 21:40] djmally commented on #938
Yup, looks like the machines ran out of disk space for a period, I'm seeing a number of messages like this:
[code]
...which is an obvious reason for this to fail. I don't think this happens under other conditions, since the disk usage spike was only for a day, and none of the `.tmp` files have last-modified dates other than the day of the spike.

[2017-08-29 21:40] djmally commented on #938
Yup, looks like the machines ran out of disk space for a period, I'm seeing a number of messages like this:
[code]
...which is an obvious reason for this to fail. I don't think this happens under other conditions, since the disk usage spike was only for a day, and none of the `.tmp` files have last-modified dates other than the day of the spike.

[2017-08-29 21:46] mreiferson commented on #938
@djmally `nsqd` _tries_ to function as correctly as possible under conditions like this, in some cases it will also reject a `PUB` if a given message would have been written to a failing disk. Given what you're reporting, it seems like it's behaving as expected so I'm going to close.

Please re-open if you find any evidence to the contrary, thanks.

[2017-08-29 21:46] #938 closed

[2017-09-04 02:48] arduanov commented on #716
I found the cause of the bug. Service falling due to an error and the gzip files becomes unreadable
[code]

[2017-09-04 02:50] ploxiln commented on #716
That could be fixed in #935

[2017-09-04 15:33] mreiferson commented on #716
@arduanov thanks, can you share more of the logs?

[2017-09-04 17:54] arduanov commented on #716
Here
[code]

[2017-09-04 17:58] mcandre opened #939 "Kafka compatibility layer"
Could we get an adapter for Kafka clients to use NSQ as a backend? Kafka is horribly flakey, so it would be helpful if NSQ could serve as a dropin replacement. In the long run, message busses should definitely convert to NSQ, but a compatibility layer would help to transition.

[2017-09-04 23:11] andyxning commented on #939
IIUC, this requires implementation of Kafka protocol in both producer side and consumer side.

[2017-09-05 14:55] mreiferson commented on #939
@mcandre Unfortunately, I don't think this is a realistic goal with the current (lack of) guarantees that NSQ provides.

[2017-09-05 14:55] #939 closed

[2017-09-07 04:07] arduanov opened #940 "nsq_to_file: --topic-pattern causes connection leaks"
Problem with leak connections #930 not resolved in #935

[code]
Connections:
[code]

[2017-09-07 05:50] arduanov commented on #940
sorry its old version of nsq_to_file

[2017-09-07 05:50] #940 closed

[2017-09-08 15:18] Thermi opened #941 "nsqd and nsqlookupd syslog severity error"
Hi,

I discovered that nsqd and nsqlookupd log rather mundane messages to syslog with severity error.
I saw that in StackDriver on GCP.
Excerpt:
[code]

Due to a lack of other deployment or test environment, I can not check if the daemons  actually log with severity error that or if it is something another software (component) does. I would really appreciate this being confirmed and if it is, chan

[2017-09-08 16:07] ploxiln commented on #941
nsqd and nsqlookupd do not log to syslog on their own, they only log to stdout. Whichever tool relays their stdout log lines to syslog is what must be setting the severity.

[2017-09-08 16:29] Thermi commented on #941
Well, as the name implies, stderr is for errors. I'd expect informative output to be printed to stdout or not at all, unless verbose or debug mode is enabled. As of now, I can not easily figure out which of the logs are actual problems and which are just informative output.

[2017-09-08 16:36] ploxiln commented on #941
FWIW, error messages have "ERROR:" in them. (More recently, since the last release, all info messages have "INFO:" in them.)

[2017-09-08 16:48] ploxiln commented on #941
I should have mentioned that, after the last release, the ability to set logging level to e.g. warning and above was added.

[2017-09-08 16:49] Thermi commented on #941
Ah, that is very helpful. I will rotate the docker containers in my deployments then. Thank you!

[2017-09-08 16:58] mreiferson commented on #941
thanks everyone!

[2017-09-08 16:58] #941 closed

[2017-09-08 17:23] Thermi commented on #941
Errr, the code with the changes hasn't been released yet. 1.0.0 was released in march. The code for the logger configuration was merged on may 20th (#892).

[2017-09-08 17:55] ploxiln commented on #941
yeah that's what I was trying to say, *after* the last release, these changes were added, so they're not yet in a release

[2017-09-08 17:59] Thermi commented on #941
Hmh. Meh. :/

[2017-09-17 06:23] zhaochenglan opened #943 "docker exec -it nsqd nsq_to_http --topic=test3 --lookupd-http-address=nsqlookupd:4161 --post=http://192.168.2.159:4151/put?topic=tes3"
2017/09/17 06:17:05 INF    1 [test3/nsq_to_http] querying nsqlookupd http://nsqlookupd:4161/lookup?topic=test3
2017/09/17 06:17:05 INF    1 [test3/nsq_to_http] (192.168.2.159:4150) connecting to nsqd
2017/09/17 06:17:06 ERR    1 [test3/nsq_to_http] (192.168.2.159:4150) error connecting to nsqd - dial tcp 192.168.2.159:4150: i/o timeout
2017/09/17 06:18:17 INF    1 [test3/nsq_to_http] querying nsql

[2017-09-17 14:46] mreiferson commented on #943
If you're having trouble configuring NSQ to work in Docker containers, please use the mailing list for questions.

[2017-09-17 14:46] #943 closed

[2017-09-18 15:40] zhaochenglan commented on #943
oh,thks

[2017-09-20 05:42] powxiao opened #944 "nsqd: when push the metric by UDP the nsq crashed"
1. run nsqd by this command:
./nsqd --statsd-address=127.0.0.1:8125 --statsd-interval=1s

2. create a UDP server to receive the stats,

3.  after a  second, nsqd crashed with these info:
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x40 pc=0x7ab7bc]

goroutine 40 [running]:
github.com/nsqio/nsq/nsqd.(*NSQD).statsdLoop

[2017-09-20 14:01] jehiah commented on #944
@powxiao Can you provide details on what nsqd version you are running?

[2017-09-20 21:20] jhowtan commented on #737
Hey we need this too! Seems like there's a PR in for it, https://github.com/nsqio/nsq/pull/856
Could we get this in?

[2017-09-23 15:24] mreiferson commented on #737
@jhowtan looks like there's some discussion on that PR about approach. If you're interested in taking a pass at it please do!

[2017-09-24 23:55] ploxiln commented on #753
I've run into something probably unrelated but possibly sometimes giving similar symptoms: nsqadmin seems to keep and re-use http client connections after a week or so of inactivity, but they don't work (presumably because the AWS EC2 security-groups firewall forgot the connection) and they time out. Then on the second (and further) attempts to load the same page, it uses a new connection and work

[2017-09-25 18:49] mreiferson commented on #648
resolved in #912 and #945

[2017-09-25 18:49] #648 closed